{% import "./macros.njk" as macros %}
<div class="answers-box">
  <p class="govuk-body">Your answers:</p>
  {% if not country %}
    <p class="govuk-body">Your answers will appear here</p>
  {% endif %}
  {% if serviceType %}
    {# until other services are integrated we can hide this #}
    {# <p class="govuk-body">
      What are you looking for?<br />
      <strong>{{ _.upperFirst(_.lowerCase(serviceType)) }}</strong>
      <a class="govuk-link" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'serviceType') }}">Change</a>
    </p> #}
  {% endif %}
  {% if country %}
    <p class="govuk-body">
      Country<br />
      <strong>{{ _.upperFirst(country) }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'country') }}" aria-label="Change country answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if region %}
    <p class="govuk-body">
      Regions covered<br />
      <strong>{{ _.upperFirst(region) }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'region') }}" aria-label="Change country's area answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if practiceArea %}
    <p class="govuk-body">
      Areas of law<br />
      <strong>{{ _.split(practiceArea, ",").map(_.startCase).join(", ") }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'practiceArea') }}" aria-label="Change field of law answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if resultsTurnaround %}
    <p class="govuk-body">
      Results speed<br />
      <strong>
        {% if resultsTurnaround == "other" %}
          No preference
        {% else %}
          {{ resultsTurnaround }} hour{{ "s" if resultsTurnaround > 1 else "" }}
        {% endif %}
      </strong>
      {% if print !== "yes" %}
        <a
          class="govuk-link noprint"
          href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'resultsTurnaround') }}"
          aria-label="Change results turnaround time answer"
        >Change</a>
      {% endif %}
    </p>
  {% endif %}
  {% if print !== "yes" and country %}
    <p class="govuk-body noprint">
        <a
          class="govuk-link"
          href="{{ macros.startAgainUrl(listsRoutes.finder, serviceType, getParameterValue("readNotice", queryString)) }}"
          aria-label="Start again"
        >Start again</a>
    </p>
    {% if searchResults.length > 0 %}
      <p class="govuk-body noprint">
        <a
          class="govuk-link"
          href="{{ listsRoutes.results }}?{{ queryString }}&print=yes"
          aria-label="Print all results (opens in new tab)"
          rel="noreferrer noopener"
          target="_blank"
        >Print all results  (opens in new tab)</a>
      </p>
    {% endif %}
  {% endif %}
</div>
