{% import "./macros.njk" as macros %}
<div class="answers-box">
  <p class="govuk-body">Your answers:</p>
  {% if not country %}
    <p class="govuk-body">Your answers will appear here</p>
  {% endif %}

    <p class="govuk-body">
      {% set region = answers.region if answers.region else "Not supplied" %}

      {% if answers.region  %}
      Location<br />
      <strong>{{ _.upperFirst(region) }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="/find/{{ serviceType }}/{{ answers.country }}/region?{{ removeQueryParameter(queryString, 'region') }}" aria-label="Change country's area answer">
        Change
      </a>
      {% endif %}
    </p>
  {% endif %}

  {% if answers.country %}
    {% set countryAnswer = answers.country if answers.country else session.answers.country %}
    <p class="govuk-body">
      Country<br />
      <strong>{{ countryAnswer }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="/find/{{ serviceType }}/country?{{ queryString }}" aria-label="Change country answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if answers.practiceAreas %}
    <p class="govuk-body">
      Areas of law<br />
      <strong>{{ _.split(answers.practiceAreas, ",").map(_.startCase).join(", ") }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="/find/{{ serviceType }}/{{ answers.country }}/practice-areas?{{ removeQueryParameter(queryString, 'practice-area') }}" aria-label="Change area of law answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if resultsTurnaround %}
    <p class="govuk-body">
      Results speed<br />
      <strong>
        {% if resultsTurnaround == "other" %}
          No preference
        {% else %}
          {{ resultsTurnaround }} hour{{ "s" if resultsTurnaround > 1 else "" }}
        {% endif %}
      </strong>
      {% if print !== "yes" %}
        <a
          class="govuk-link noprint"
          href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'resultsTurnaround') }}"
          aria-label="Change results turnaround time answer"
        >Change</a>
      {% endif %}
    </p>
  {% endif %}
  {% if repatriation %}
    <p class="govuk-body">
      Repatriation needed<br />
      <strong>
        {{ "Yes" if repatriation.includes("yes") else "No" }}
      </strong>
      {% if print !== "yes" %}
        <a
          class="govuk-link noprint"
          href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'repatriation') }}"
          aria-label="Change repatriation answer"
        >Change</a>
      {% endif %}
    </p>
  {% endif %}
  {% if insurance %}
    <p class="govuk-body">
      Has insurance<br />
      <strong>{{ "Yes" if insurance.includes("yes") else "No" }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'insurance') }}" aria-label="Change has insurance answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if serviceNamesProvided and serviceNamesProvided.length %}
    <p class="govuk-body">
      Services needed<br />
      <strong>{{ _.split(serviceNamesProvided, ",").map(_.startCase).join(", ") }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'servicesProvided') }}" aria-label="Change what services do you need answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if languageNamesProvided %}
    <p class="govuk-body">
      Languages needed<br />
      <strong>{{ languageNamesProvided }}</strong>{% if print !== "yes" %}
      {% set trimmedQueryString = removeQueryParameter(queryString, 'languageNamesProvided') %}
      {% set trimmedQueryString = removeQueryParameter(trimmedQueryString, 'languagesPopulated') %}
      {% set trimmedQueryString = removeQueryParameter(trimmedQueryString, 'languagesConfirmed') %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ trimmedQueryString }}" aria-label="Change has insurance answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if translationSpecialties %}
    <p class="govuk-body">
      Translation types<br />
      <strong>{{ _.split(translationSpecialties, ",").map(_.startCase).join(", ") }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'translationSpecialties') }}" aria-label="Change what types of translating services do you need answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if interpreterServices %}
    <p class="govuk-body">
      Interpretation types<br />
      <strong>{{ _.split(interpreterServices, ",").map(_.startCase).join(", ") }}</strong>{% if print !== "yes" %}
      <a class="govuk-link noprint" href="{{ listsRoutes.finder }}?{{ removeQueryParameter(queryString, 'interpreterServices') }}" aria-label="Change what types of interpreting services do you need answer">Change</a>{% endif %}
    </p>
  {% endif %}
  {% if print !== "yes" and country %}
    <p class="govuk-body noprint">
        <a
          class="govuk-link"
          href="/find/{{ serviceType }}?restart=yes"
          aria-label="Start again"
        >Start again</a>
    </p>
    {% if searchResults.length > 0 %}
      <p class="govuk-body noprint">
        <a
          class="govuk-link"
          href="{{ listsRoutes.results }}?{{ queryString }}&print=yes"
          aria-label="Print all results (opens in new tab)"
          rel="noreferrer noopener"
          target="_blank"
        >Print all results  (opens in new tab)</a>
      </p>
    {% endif %}
  {% endif %}
</div>
