{% import "./macros.njk" as macros %}
<div class="answers-box">
  <p class="govuk-body">Your answers:</p>
   {% if not answers | length %}
    <p class="govuk-body">Your answers will appear here</p>
   {% endif %}

  {% set region = answers.region if answers.region else "Not supplied" %}
  {% if answers.region or answers.region === "" or isResultsPage %}
  {% set returnParam = "?return=results" if isResultsPage else "" %}
    <p class="govuk-body">
      <span id="location" class="answers-box__question">Location</span>
      <strong aria-labelledby="location">{{ _.upperFirst(answers.region) if answers.region else "Not supplied" }}</strong>
      <a class="govuk-link noprint" href="/find/{{ serviceType }}/{{ answers.country }}/region{{ returnParam }}" aria-label="Change country's area answer">
        Change
      </a>
    </p>
  {% endif %}

  {% if answers.country or isResultsPage %}
    {% set countryAnswer = answers.country %}
    <p class="govuk-body">
      <span id="country" class="answers-box__question">Country</span>
      <strong aria-labelledby="country">{{ countryAnswer }}</strong>
      <a class="govuk-link noprint" href="/find/{{ serviceType }}/country{{ returnParam }}" aria-label="Change country answer">Change</a>
    </p>
  {% endif %}
  {% if serviceType === 'lawyers' %}
    {% include "./lawyers/answers-box.njk" %}
  {% endif %}

  {% if serviceType === 'funeral-directors' %}
    {% include "./funeral-directors/answers-box.njk" %}
  {% endif %}

{% if serviceType === 'translators-interpreters' %}
  {% include "./translators-interpreters/answers-box.njk" %}
{% endif %}

  <p class="govuk-body noprint">
    <a
      class="govuk-link"
      href="/find/{{ serviceType }}?restart=yes"
      aria-label="Start again"
    >Start again</a>
  </p>
  {% if searchResults.length > 0 %}
    <p class="govuk-body noprint">
      <a
        class="govuk-link"
        href="?print=yes"
        aria-label="Print all results (opens in new tab)"
        rel="noreferrer noopener"
        target="_blank"
      >Print all results (opens in new tab)</a>
    </p>
  {% endif %}
</div>

