<h1 class="govuk-heading-l">
  Find a Covid test provider {{ "in " + _.startCase(country) if country else "abroad"}}
</h1>
<p class="govuk-body">
  The Foreign, Commonwealth and Development Office (FCDO) provides a list of Covid test providers abroad to help British nationals 
  find a suitable Covid test provider in order to travel back to the UK. You can search for Covid test providers by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>country</li>
  <li>specific area, city or postcode</li>
  <li>turnaround time</li>
</ul>
<p class="govuk-body">
  All providers on the list have been contacted by the FCDO to make sure they have:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>good English language skills</li>
  <li>meet UK standards for testing</li>
  <li>up to date contact details</li>
</ul>
<p class="govuk-body">
  We recommend you do your own research before deciding which lawyer to use.
</p>

<h2 class="govuk-heading-m">Feedback on Covid test provider</h2>
<p class="govuk-body">
  The FCDO welcomes your feedback if you have used Covid test providers from the list. We
  use this feedback to make sure all information is up to date and accurate.
</p>
<p class="govuk-body">
  If you would like to send any feedback on Lawyer’s list please email <a class="govuk-link" href="mailto:digitalservicesfeedback@fco.gov.uk">digitalservicesfeedback@fco.gov.uk</a>
</p>
<p class="govuk-body">
  The FCDO will quickly respond to feedback and will remove any lawyer from the list where appropriate.
</p>
<form class="form" action="{{ nextRoute }}" method="post">
  <input name="readNotice" type="hidden" value="ok" />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
