<h1 class="govuk-heading-l">
  Find a Covid test provider {{ "in " + _.startCase(country) if country else "abroad"}}
</h1>
<p class="govuk-body">
  The Foreign, Commonwealth and Development Office (FCDO) has compiled a list of COVID-19 test suppliers abroad. 
  British nationals can contact suppliers on the list to book a COVID-19 test before returning to the UK. 
  You can search for Covid test providers by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>country</li>
  <li>specific area, city or postcode</li>
  <li>turnaround time of a test result</li>
</ul>
<p class="govuk-body">
  All test suppliers on the list have been contacted by the FCDO to make sure they have:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>good English language skills</li>
  <li>the same UK standards for COVID-19 testing</li>
  <li>up to date contact details</li>
</ul>
<p class="govuk-body">
  We recommend you do your own research before deciding which test supplier to use.
</p>

<h2 class="govuk-heading-m">Feedback on COVID-19 test suppliers</h2>
<p class="govuk-body">
  The FCDO welcomes your feedback if you have used COVID-19 test suppliers from the list. 
  We use this feedback to make sure all information is up to date and accurate.
</p>
<p class="govuk-body">
  If you would like to send any feedback on COVID-19 test supplier’s list please email <a class="govuk-link" href="mailto:digitalservicesfeedback@fco.gov.uk">digitalservicesfeedback@fco.gov.uk</a>
</p>
<p class="govuk-body">
  The FCDO will quickly respond to feedback and will remove any supplier from the list where appropriate.
</p>
<form class="form" action="{{ nextRoute }}" method="post">
  <input name="readNotice" type="hidden" value="ok" />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
