<form class="form" action="{{ nextRoute }}" method="post">
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'region' }}">
    <fieldset class="govuk-fieldset">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="area">
          Which area in {{_.startCase(country) }} do you need {{ serviceLabel }} from?
        </label>
      </h1>
      <div id="area-hint" class="govuk-hint">
        Write down the specific area of the country where you need a lawyer. This could be a city or postcode, for example Madrid, or 28000 in Spain
      </div>
      {% if error.field === 'region' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <input class="govuk-input {{ "govuk-input--error" if error.field === 'region' }}" id="area" name="region" type="text"/>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>