<form class="form" action="{{ nextRoute }}" method="post" required>
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'practice-area' }}">
    <fieldset class="govuk-fieldset" aria-describedby="practice-area-hint">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="practiceArea">
          In which field of law do you need legal help?
        </label>
      </h1>
      <div id="practice-area-hint" class="govuk-hint">
        You can choose as many options from the list as you need.
      </div>
      {% if error.field === 'practice-area' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <div class="govuk-checkboxes">
        {% for practiceArea in legalPracticeAreasList %}
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="practice-area-{{practiceArea.toLowerCase()}}"
            name="practiceArea"
            type="checkbox"
            value="{{ practiceArea.toLowerCase() }}"
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="practice-area-{{ practiceArea.toLowerCase() }}"
          >
            {{ practiceArea }}
          </label>  
        </div>
        {% endfor %}
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="practice-area-other"
            name="practiceArea"
            type="checkbox"
            value="other"
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="practice-area-other"
          >
            Other
          </label>  
        </div>
        <input
            class="govuk-checkboxes__input"
            id="practice-area-other"
            name="practiceArea"
            type="checkbox"
            value=""
            checked
          />
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
