{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-width-container ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Application confirmed
            </h1>
          </div>
          <p class="govuk-body">
            Your application to be added to the Foreign, Commonwealth & Development Office’s Find a Professional Service Abroad has been confirmed. 
            The FCDO will contact you via email to tell you if your application has been successful.
          </p>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
