{% extends "layout.html" %}

{% block content %}
  <div class="govuk-width-container ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <h1 class="govuk-heading-xl">
            Application Confirmed Successfully
          </h1>
          <p class="govuk-body">Thank you for confirming your application, our team will verify your application... etc</p>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
