{% extends "layout.njk" %}

{% block pageTitle %}
  {{ SERVICE_NAME }} - You cannot use this service yet
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You cannot use this service yet</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if serviceType === ServiceType.covidTestProviders %}
        {% include "lists/partials/covid-test-providers/covid-test-providers-private-beta.njk" %}   
      {% endif %}
    </div>
  </div>
{% endblock %}
