{% extends "layout.njk" %}

{% block pageTitle %}
  {{ SERVICE_NAME }}{{ " - " + partialPageTitle if partialPageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error.field %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [error]
        }) }}
      {% endif %}

      {% block question %}

      {% endblock %}
    </div>

    {# temporary remove answer-box from lawyers start page, until other services are added #}
    {% if false %}
      <div class="govuk-grid-column-one-third">
        {% include "lists/partials/answers-box.njk" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
