{% extends "layout.html" %}

{% block pageTitle %}
  Find a Professional Service Abroad{{ " - " + partialPageTitle if partialPageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error.field %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [error]
        }) }}
      {% endif %}

      {% include "lists/partials/" + partialToRender %}
    </div>

    {# temporary remove answer-box from lawyers start page, until other services are added #}
    {% if partialToRender.indexOf("-notice") === -1 %}
      <div class="govuk-grid-column-one-third">
        {% include "lists/partials/answers-box.html" %}
      </div>
    {% endif %} 
  </div>
{% endblock %}
