<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You should do your own research before deciding which provider to use. You may also want to check if any insurance
    policies you have include legal cover before you contact a lawyer independently.
  </strong>
</div>
