{% from "summary-list/macro.njk" import govukSummaryList %}

{% macro emailAddress(address, label) %}
  <a class="govuk-link" href="mailto:{{address}}">{{ label }}</a>
{% endmacro %}

{% macro externalLink(href, label) %}
  <a class="govuk-link" href="{{href}}" target="_blank">{{label}}</a>
{% endmacro %}

{% macro phoneNumber(number, label) %}
  <a class="govuk-link" href="tel:{{number}}">{{ label }}</a>
{% endmacro %}

{% macro multiLinkText(content) %}
  <div class="dashboard__multi-line-text">{{ content }}</div>
{% endmacro %}


{% macro lawyersListItem(item) %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
    {{ _.startCase(_.toLower(item.jsonData.organisationName if item.jsonData.organisationName else item.jsonData.contactName)) }}
  </h2>
  {% if item.distanceinmeters >= 0 %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Distance</strong>:  {{ (item.distanceinmeters / 1609).toFixed(1) }} miles
    </p>
  {% endif %}
  {% if (item.jsonData.contactName) and (item.jsonData.contactName !== item.jsonData.organisationName)  %}
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Contact Person:</strong>: {{ item.jsonData.contactName }}
    </p>
  {% endif %}
  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
    <strong>Address</strong>:
      {{ item.address.firstLine }}
      {{ "-" if item.address.secondLine }} {{ item.address.secondLine }}
      {{ "-" if item.address.postCode }} {{ item.address.postCode }}
      {{ "-" if item.address.city }} {{ item.address.city }}
  </p>
  {% if item.jsonData.emailAddress %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Email</strong>: <a class="govuk-link" href="mailto:{{ item.jsonData.emailAddress }}">{{ item.jsonData.emailAddress }}</a>
    </p>
  {% endif %}
  {% if item.jsonData.websiteAddress %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Website</strong>: <a class="govuk-link" href="{{ item.jsonData.websiteAddress }}" rel="noopener noreferrer" target="_blank">{{ item.jsonData.websiteAddress }}</a>
    </p>
  {% endif %}

  {% if (not item.jsonData.emailAddress) or (not item.jsonData.websiteAddress) %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Telephone</strong>: <a href="tel:{{ item.jsonData.phoneNumber }}">{{ item.jsonData.phoneNumber }}</a>
    </p>
  {% endif %}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Details
      </span>
    </summary>
    <div class="govuk-details__text">
      {% if (item.jsonData.emailAddress) and (item.jsonData.websiteAddress) %}
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Telephone</strong>: {{ item.jsonData.phoneNumber }}
      </p>
      {% endif %}
      {% if item.jsonData.areasOfLaw %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Legal Practice Areas</strong>: {{ item.jsonData.areasOfLaw.map(_.startCase).join(", ") }}
        </p>
      {% endif %}
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Legal Aid</strong>: {{ "Yes" if item.jsonData.legalAid else "No" }}
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Pro Bono Service</strong>: {{ "Yes" if item.jsonData.proBono else "No" }}
      </p>
    </div>
  </details>
{% endmacro %}

{% macro lawyersListManagementItem(item) %}
  {% set address%}
    {{ item.address.firstLine }}

    {% if item.address.secondLine %}
      <br />
      {{ item.address.secondLine }}
    {% endif %}

    {% if item.address.postCode %}
      <br />
      {{ item.address.postCode }}
    {% endif %}

    {% if item.address.city %}
      <br />
      {{ item.address.city }}
    {% endif %}
  {% endset %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
    {{ _.startCase(_.toLower(item.jsonData.contactName)) }}
  </h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: 'Company'
        },
        value: {
          text: item.jsonData.organisationName
        }
      },
      {
        key: {
          text: 'Company size'
        },
        value: {
          text: item.jsonData.size
        }
      },
      {
        key: {
          text: 'Legal expertise'
        },
        value: {
          text: item.jsonData.areasOfLaw.map(_.startCase).join(", ")
        }
      },
      {
        key: {
          text: 'Regions'
        },
        value: {
          text: item.jsonData.regions
        }
      },
      {
        key: {
          text: 'Legal aid'
        },
        value: {
          text: "Yes" if item.jsonData.legalAid else "No"
        }
      },
      {
        key: {
          text: 'Pro bono'
        },
        value: {
          text: "Yes" if item.jsonData.proBono else "No"
        }
      },
      {
        key: {
          text: 'Represented BNs'
        },
        value: {
          text: "Yes" if item.jsonData.representedBritishNationals else "No"
        }
      }
    ]
  }) }}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Contact details</h3>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: 'Address'
        },
        value: {
          html: address
        }
      },
      {
        key: {
          text: 'Email - public'
        },
        value: {
          html: emailAddress(item.jsonData.publicEmailAddress, item.jsonData.publicEmailAddress) if item.jsonData.publicEmailAddress else emailAddress(item.jsonData.emailAddress, item.jsonData.emailAddress)
        }
      },
      {
        key: {
          text: 'Telephone'
        },
        value: {
          text: phoneNumber(item.jsonData.phoneNumber, item.jsonData.phoneNumber)
        }
      },
      {
        key: {
          text: 'Emergency number'
        },
        value: {
          text: phoneNumber(item.jsonData.emergencyPhoneNumber, item.jsonData.emergencyPhoneNumber)
        }
      } if item.jsonData.emergencyPhoneNumber,
      {
        key: {
          text: 'Website'
        },
        value: {
          html: externalLink(item.jsonData.websiteAddress, item.jsonData.websiteAddress)
        }
      } if item.jsonData.websiteAddress
    ]
  }) }}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Admin use only</h3>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: 'Regulators/ associations'
        },
        value: {
          text: multiLinkText(item.jsonData.regulators)
        }
      },
      {
        key: {
          text: 'Email - private'
        },
        value: {
          text: phoneNumber(item.jsonData.emailAddress, item.jsonData.emailAddress)
        }
      },
      {
        key: {
          text: 'English language service'
        },
        value: {
          text: "Yes" if item.jsonData.speakEnglish else "No"
        }
      }
    ]
  }) }}
{% endmacro %}
