{% macro lawyersListItem(item) %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
    {{ _.startCase(_.toLower(item.jsonData.organisationName if item.jsonData.organisationName else item.jsonData.contactName)) }}
  </h2>
  {% if item.distanceinmeters >= 0 %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Distance</strong>:  {{ (item.distanceinmeters / 1609).toFixed(1) }} miles
    </p>
  {% endif %}
  {% if (item.jsonData.contactName) and (item.jsonData.contactName !== item.jsonData.organisationName)  %}
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Contact Person:</strong>: {{ item.jsonData.contactName }}
    </p>
  {% endif %}
  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
    <strong>Address</strong>:
      {{ item.address.firstLine }}
      {{ "-" if item.address.secondLine }} {{ item.address.secondLine }}
      {{ "-" if item.address.postCode }} {{ item.address.postCode }}
      {{ "-" if item.address.city }} {{ item.address.city }}
  </p>
  {% if item.jsonData.emailAddress %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Email</strong>: <a class="govuk-link" href="mailto:{{ item.jsonData.emailAddress }}">{{ item.jsonData.emailAddress }}</a>
    </p>
  {% endif %}
  {% if item.jsonData.websiteAddress %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Website</strong>: <a class="govuk-link" href="{{ item.jsonData.websiteAddress }}" rel="noopener noreferrer" target="_blank">{{ item.jsonData.websiteAddress }}</a>
    </p>
  {% endif %}

  {% if (not item.jsonData.emailAddress) or (not item.jsonData.websiteAddress) %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Telephone</strong>: <a href="tel:{{ item.jsonData.phoneNumber }}">{{ item.jsonData.phoneNumber }}</a>
    </p>
  {% endif %}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Details
      </span>
    </summary>
    <div class="govuk-details__text">
      {% if (item.jsonData.emailAddress) and (item.jsonData.websiteAddress) %}
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Telephone</strong>: {{ item.jsonData.phoneNumber }}
      </p>
      {% endif %}
      {% if item.jsonData.areasOfLaw %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Legal Practice Areas</strong>: {{ item.jsonData.areasOfLaw.map(_.startCase).join(", ") }}
        </p>
      {% endif %}
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Legal Aid</strong>: {{ "Yes" if item.jsonData.legalAid else "No" }}
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Pro Bono Service</strong>: {{ "Yes" if item.jsonData.proBono else "No" }}
      </p>
    </div>
  </details>
{% endmacro %}
