{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        {{text.title}}
      </h1>

      <p class="govuk-body">
        {{text.body}}
      </p>
      <p class="govuk-body">Contact the British consulate or embassy in your country if you have any questions.</p>
    </div>
  </div>
{% endblock %}
