{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "radios/macro.njk" import govukRadios %}
{% from "notification-banner/macro.njk" import govukNotificationBanner %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% import "../dashboard/partials/macros.njk" as rowMacros %}

{% extends "layout.njk" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if error.text %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error.text,
            href: "#is-your-information-correct"
          }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      Check that your information is still correct
    </h1>

    {% set html %}
      <p class="govuk-notification-banner__heading govuk-notification-banner__full-width">
        To remain on the list of {{ _.startCase(service) }} in {{ country }} you need to either:
      </p>
      <ul class="govuk-bullet-list">
        <li>confirm below that your information is still correct</li>
        <li>update your information if it is not correct (you can do this on the next screen)</li>
      </ul>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

    {{ govukSummaryList({
      rows: rows | renderRowValues(rowMacros, rows)
    }) }}

    <form action="/annual-review/confirm/{{ reference }}" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="reference" value="{{ reference }}" />
      {{ govukRadios({
        name: "is-your-information-correct",
        fieldset: {
          legend: {
            text: "Is your information still correct?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: error,
        items: [
          {
            value: "yes",
            text: "Yes, I confirm my information is still correct"
          },
          {
            value: "no",
            text: "No, I need to update my information"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    <form>
  </div>
</div>
{% endblock %}
