{% extends "./layout.njk" %}

{% block confirmChangesContent %}
  <h2 class="govuk-heading-m">
    You are about to pin this provider to your list
  </h2>
  <p class="govuk-body">
    The list entry will appear at the top of your list until it is published or you unpin it.
  </p>

{% endblock %}
