{% extends "./layout.njk" %}

{% block confirmChangesContent %}
  <h2 class="govuk-heading-m">You are about to publish this application to the live list</h2>
  <p class="govuk-body">You can still unpublish this application after it is live and ask the service provider to make changes.</p>

  <p class="govuk-body">An email will be sent to the following service provider:</p>
{% endblock %}


