{% extends "./layout.njk" %}

{% block heading %}
  Request changes to this service provider
{% endblock %}

{% block confirmChangesContent %}
  <h2 class="govuk-heading-m">You are asking for the following changes:</h2>

  <p class="govuk-body govuk-!-padding-2 confirmation-focus-box">
    {{ message }}
  </p>

  <p class="govuk-body">An email with this request will be sent to the following service provider:</p>
{% endblock %}
