{% extends "layout.njk" %}

{% block confirmChangesContent %}
  <h2 class="govuk-heading-m">You are about to unpublish this information from the live list</h2>
  <div class="govuk-body">
    <p>
      The list entry will be removed from the live list and you will be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>request that the service provider makes changes and publish it again</li>
      <li>remove the list entry from the database.</li>
    </ul>
  </div>
{% endblock %}
