{% extends "./layout.njk" %}

{% block confirmChangesContent %}
  <h2 class="govuk-heading-m">You are about to update this entry on the live list</h2>
  <p class="govuk-body">The original entry will be overwritten on the live list.</p>
{% endblock %}
