<p class="govuk-body">
  The FCDO does not accept any liability to any person or company for any financial loss or damage suffered through
  using these service providers or from the use of this information or from any failure to give information.
  Our non-exhaustive lists are not recommendations and should not be treated as such. For further information, read the
  <a href="/help/terms-and-conditions" class="govuk-link">full terms and conditions</a>.
</p>
