{{ govukFooter({
    meta: {
        items: [
            {
                href: 'https://www.gov.uk/help/privacy-notice',
                text: 'Privacy'
            }, 
            {
                href: 'https://www.gov.uk/help/cookies',
                text: 'Cookies'
            }, 
            {
                href: 'https://www.gov.uk/help/accessibility-statement',
                text: 'Accessibility Statement'
            }, 
            {
                href: 'https://www.gov.uk/help/terms-conditions',
                text: 'Terms and Conditions'
            }, 
            {
                href: '/sitemap',
                text: 'Sitemap'
            }, 
            {
                href: '#',
                text: 'v' + appVersion
            }
        ]
    }
}) }}