$icon-size: 18px;
$icon-up = $icon-up
$icon-down = $icon-down

.dashboard-table {
  &__header {
    vertical-align: bottom;
    margin-right: 10px;
  }
}

.dashboard-table {
  &__header-link {
    text-decoration: none;
    position: relative;
  }
}

.dashboard-table {
  &__header-text {
    margin-right: calc($icon-size + 0.5em)
  }
}


.dashboard-table {
  &__icon {
    position: relative;
    left: -$icon-size;
    text-decoration: none;

    &:before,
    &:after {
      font-size: $icon-size;
      color: $govuk-link-colour;
      text-decoration: none;
      position: absolute;
      :focus & {
        color: $govuk-focus-text-colour;
      }
      .dashboard-table__header-link:hover & {
        color: $govuk-link-hover-colour;
      }
    }

    &--none {
      &:before,
      &:after {
        font-size: $icon-size / 2;
        position: absolute;
      }
      &:before {
        content: $icon-down;
        top: 9px;
      }
      &:after {
        content: $icon-up;
        top: 1px;
      }
    }

    &--asc {
      &:after {
        content: $icon-up;
      }
    }

    &--desc {
      &:after {
        content: $icon-down;
      }
    }
  }
}

