$icon-size: 18px;

.dashboard-table {
  &__header-link {
    text-decoration: none;
    position: relative;

  }
  &__header-text {
    margin-right: calc($icon-size + 0.5em)
  }
}



.dashboard-table {
  &__icon {
    position: relative;
    left: -$icon-size;
    text-decoration: none;
    &:before, &:after {
      font-size: $icon-size;
      color: $govuk-link-colour;
      text-decoration: none;
      position: absolute;
      :focus & {
        color: $govuk-focus-text-colour;
      }
    }

    &--none {
      &:before,
      &:after {
        font-size: $icon-size / 2;
        position: absolute;
      }
      &:before {
        content: "\25bc";
        top: 9px;
      }
      &:after {
        content: "\25b2";
        top: 1px;
      }
    }

    &--asc {
      &:after {
        content: "\25b2";
      }
    }

    &--desc {
      &:after {
        content: "\25bc";
      }
    }
  }
}

.dashboard-table {
  &__header {
    vertical-align: bottom;
    margin-right: 10px;
  }
}
