$icon-size: 18px;

.dashboard-table {
  &__header-link {
    text-decoration: none;
    margin-right: 20px;
    &:after {
      content: "";
      padding-left: $icon-size;
      position: relative;
      left: 14px;
    }
  }
}


.dashboard-table {
  &__icon {
    position: relative;
    text-decoration: none;
    left: 4px;
    padding-right: 18px;
    &:before, &:after {
      font-size: $icon-size;
      color: $govuk-link-colour;
      text-decoration: none;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      :focus & {
        color: $govuk-focus-text-colour;
      }
    }

    &--none {
      &:before,
      &:after {
        font-size: $icon-size / 2;
        position: absolute;
      }
      &:before {
        content: "\25bc";
        top: 9px;
      }
      &:after {
        content: "\25b2";
        top: 1px;
      }
    }

    &--asc {
      &:after {
        content: "\25b2";
      }
    }

    &--desc {
      &:after {
        content: "\25bc";
      }
    }
  }
}

.dashboard-table {
  &__header {
    vertical-align: bottom;
    margin-right: 10px;
  }
}
