$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";

.answers-box {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

.fcdo-pagination {
  margin-left: -5px;
  margin-right: -5px;
  text-align: justify;
  content: '';
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fcdo-pagination__list-items {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.fcdo-pagination__item {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  line-height: 1.25;
  display: inline-block;
}

.fcdo-pagination__item--prev:before {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  color: #0b0c0c;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  border-width: 3px 0 0 3px;
  margin-right: 5px;
}

.fcdo-pagination__item--next:after {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  color: #0b0c0c;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  border-width: 0 3px 3px 0;
  margin-left: 5px;
}

.fcdo-pagination__link {
  text-decoration: none;
  margin-right: 10px;
  color: #1d70b8;
}

.fcdo-pagination__link--last {
  text-decoration: none;
  margin-right: 0px;
}

.fcdo-pagination__results {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  line-height: 1.25;
  margin-top: 20px;
}

.fcdo-pagination__results-num {
  font-weight: 600;
}

.fcdo-pagination__current-page {
  font-weight: 600;
  margin-right: 10px;
}

input {
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-list .govuk-details {
  margin-bottom: 0;
}

.govuk-form-group--error .autocomplete__input {
  border: 2px solid govuk-colour("red");
}

main.govuk-main-wrapper {
  position: relative;
  min-height: 50vh;
}

.dashboard {
  &__logout {
    position: absolute;
    right: 0;
    top: -2rem;
  }

  &__container {
    min-height: 50vh;
  }

  &__list-item-actions-bar {
    :checked + label {
      color: govuk-colour("green");
    }
  }

  &__item-options {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__item-publish {
    width: 60%;
  }

  &__item-delete {
    text-align: right;
    width: 40%;
  }

  &__multi-line-text {
    white-space: pre-line;
  }
}
