$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "../../../node_modules/govuk-frontend/govuk/all";

.answers-box {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

input {
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-list .govuk-details {
  margin-bottom: 0;
}

.govuk-form-group--error .autocomplete__input {
  border: 2px solid govuk-colour("red");
}

body .govuk-cookie-banner {
  display: none;
}

body.js-enabled .govuk-cookie-banner:not(.no-js) {
  display: block;
}

body:not(.js-enabled) .govuk-cookie-banner.no-js {
  display: block;
}

main.govuk-main-wrapper {
  position: relative;
  min-height: 50vh;
}

.dashboard {
  &__logout {
    position: absolute;
    right: 0;
    top: -2rem;
  }

  &__container {
    min-height: 50vh;
  }

  &__list-item-actions-bar {
    :checked + label {
      color: govuk-colour("green");
    }
  }
}
