$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "../../../node_modules/govuk-frontend/govuk/all";

.answers-box {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

input {
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-list .govuk-details {
  margin-bottom: 0;
}

.govuk-form-group--error .autocomplete__input {
  border: 2px solid govuk-colour("red");
}