<h1 class="govuk-heading-l">Find a medical facility abroad</h1>
<p class="govuk-body">
  The Foreign, Commonwealth and Development Office (FCDO) has created a list of medical facilities abroad to help British nationals find the medical care they need. You can search medical by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>country</li>
  <li>region</li>
</ul>
<p class="govuk-body">
  It is recommended that your own research before deciding which medical facility to use.
</p>
<h2 class="govuk-heading-m">Medical facility feedback</h2>
<p class="govuk-body">
  The FCDO welcomes feedback from people who have used a medical facility from the list. We use this feedback to make sure all information is up to date and accurate.
</p>
<p class="govuk-body">
  The FCDO will quickly respond to feedback and will remove any medical facility from the list where appropriate.
</p>
<h2 class="govuk-heading-m">Disclaimer</h3>
<p class="govuk-body">
  The Foreign, Commonwealth & Development Office (FCDO) provides lists of service providers for information only, to assist British nationals who may need support overseas. This list is not exhaustive, and is subject to change at any time. None of the service providers are endorsed or recommended by the FCDO. You should research whether a service provider will be suitable. The FCDO does not accept any liability arising to any person for any loss or damage suffered through using these service providers or this information
</p>
<form class="form" action="{{ nextRoute }}" method="post">
  <input name="readNotice" type="hidden" value="ok" />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>