<form class="form" action="{{ nextRoute }}" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="serviceType">
          Which professional service abroad are you looking for?
        </label>
      </h1>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="serviceType" type="radio" value="lawyers" required>
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Lawyers
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="serviceType" type="radio" value="medical-facilities" required>
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Medical facilities
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
