<h1 class="govuk-heading-l">
  Find a COVID-19 test provider {{ "in " + _.startCase(country) if country else "abroad"}}
</h1>
<p class="govuk-body">
  British nationals can contact providers on the list to book a COVID-19 test before returning to the UK. 
</p>
<p class="govuk-body">
  You can search for COVID-19 test providers by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>country, city or area (for example, postcode) </li>
  <li>test result speed ('turnaround time')</li>
</ul>
<p class="govuk-body">
  All test providers have confirmed:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>they can provide a test service in English</li>
  <li>their COVID-19 tests meet the applicable standard (‘UK standards’) for travellers returning to England, Wales, Scotland and Northern Ireland</li>
</ul>
<p class="govuk-body">
  You should do your own research before deciding which test provider to use.
</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    Check the latest <a class="govuk-link email" href="https://www.gov.uk/foreign-travel-advice" target="_blank" rel="noopener noreferrer">FCDO travel advice</a> before you book a test.
  </strong>
</div>

<h2 class="govuk-heading-m">Feedback on test providers</h2>
<p class="govuk-body">
  This list of COVID-19 test providers is maintained by the Foreign, Commonwealth & Development Office (FCDO). However, if you have feedback on providers, you need to contact the embassy in that country. Providers will be removed from the list where appropriate.
</p>

<h2 class="govuk-heading-m">Feedback on this service</h2>
<p class="govuk-body">
  If you have feedback specifically about this digital service, the FCDO welcomes your views.
</p>
<p class="govuk-body">
  Email: <a class="govuk-link" href="mailto:digitalservicesfeedback@fco.gov.uk">digitalservicesfeedback@fco.gov.uk</a> 
</p>


<form class="form" action="{{ nextRoute }}" method="post">
  <input name="readNotice" type="hidden" value="ok" />
  <button class="govuk-button" data-module="govuk-button">Start now</button>
</form>
