{% macro covidTestProvidersListItem(item, isDashboard = false) %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
    {{ _.startCase(item.jsonData.organisationName) }}{{ " - " if item.jsonData.locationName }}{{ _.startCase(item.jsonData.locationName) }}
  </h2>
  {% if item.distanceinmeters >= 0 %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Distance</strong>:  {{ (item.distanceinmeters / 1609).toFixed(1) }} miles
    </p>
  {% endif %}
  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
    <strong>Address</strong>: 
      {{ item.address.firstLine }} 
      {{ "-" if item.address.secondLine }} {{ item.address.secondLine }}
      {{ "-" if item.address.postCode }} {{ item.address.postCode }} 
      {{ "-" if item.address.city }} {{ item.address.city }}
  </p>
  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Available tests</strong>:
        {% for item in _.orderBy(item.jsonData.providedTests, ["turnaroundTime"]) %}
          {{ item.type }} (results in {{item.turnaroundTime}} hour{{ "s" if item.turnaroundTime > 1}}){{", " if not loop.last}}
        {% endfor %}
      </p>
  {% if item.jsonData.website %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
      <strong>Website</strong>: <a class="govuk-link" href="{{ enforceHttps(item.jsonData.website) }}" rel="noopener noreferrer" target="_blank">{{ item.jsonData.website }}</a>
    </p>
  {% endif %}
  
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Details
      </span>
    </summary>
    <div class="govuk-details__text">
      {% if (item.jsonData.email) and (item.jsonData.website) %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Telephone</strong>: {{ item.jsonData.telephone }}
        </p>  
      {% endif %}
      {% if item.jsonData.email %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Email</strong>: <a class="govuk-link" href="mailto:{{ item.jsonData.email }}">{{ item.jsonData.email }}</a>
        </p>
      {% endif %}
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Results formats</strong>: {{ item.jsonData.resultsFormat.map(_.startCase).join(", ") }}
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Provide results when closed</strong>: {{ "Yes" if item.jsonData.provideResultsWhenClosed else "No" }}
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Booking options</strong>: {{ item.jsonData.bookingOptions.map(_.startCase).join(", ") }}
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <strong>Regulatory authority</strong>: {{ _.startCase(item.jsonData.regulatoryAuthority) }}
      </p>
      
      
      {% if isDashboard %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">The information below is only available inside the dashboard and will not be made publicly available.</p>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Contact name</strong>: {{ _.startCase(item.jsonData.contactName) }}
        </p>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Contact telephone</strong>: {{ _.startCase(item.jsonData.contactPhoneNumber) }}
        </p>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <strong>Contact email address</strong>: {{ item.jsonData.contactEmailAddress.toLowerCase() }}
        </p>

        
      {% endif %}
    </div>
  </details>      
{% endmacro %}