{% from "details/macro.njk" import govukDetails %}
{% from "summary-list/macro.njk" import govukSummaryList %}
<div class="govuk-row">

  <h3 class="govuk-heading-l">Related content</h3>
  <p class="govuk-body">
    Add, change or remove links on the results page to content on GOV.UK.
    The other ‘Find a professional service abroad’ lists are linked automatically.
  </p>

  {% set detailsHtml %}
    <p>Add links to the following GOV.UK guidance:</p>
    <ul class="govuk-bullet-list">
      <li>When someone dies in [your country]</li>
      <li>Tell us once</li>
      <li>International funeral directors in the UK</li>
    </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "Recommended links to add",
    html: detailsHtml
  }) }}

  <dl class="govuk-summary-list govuk-summary-list--no-border">
  {% for link in list.jsonData.relatedLinks %}
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <a href="{{ link.url }}" class="govuk-link">
          {{ link.text }}
          <span class="govuk-visually-hidden">
            (opens in a new tab)
          </span>
        </a>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ listsEditUrl }}/related-links/{{ loop.index0 }}">
          Change<span class="govuk-visually-hidden"> {{ link.text }}</span>
        </a>
      </dd>
    </div>
  {% endfor %}

  {% for link in automatedRelatedLinks %}
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <a href="{{ link.url }}" class="govuk-link">
          {{ link.text }}
          <span class="govuk-visually-hidden">
            (opens in a new tab)
          </span>
        </a>
      </dd>
      <dd class="govuk-summary-list__actions">
        Automated
      </dd>
    </div>
  {% endfor %}
  </dl>

  <a href="{{ listsEditUrl }}/related-links/new" class="govuk-button govuk-button--secondary">Add link</a>

</div>
