{% extends "layout.njk" %}

{% block pageTitle %}
  Cookies
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if cookiesSettingsSaved %}
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                Your cookie settings were saved
              </h3>
              <p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
            </div>
          </div>
        {% endif %}

        <h1 class="govuk-heading-xl">Cookies</h1>
          <p class="govuk-body">
            Cookies are files saved on your phone, tablet or computer when you
            visit a website.
          </p>
          <p class="govuk-body">
            We use cookies to store information about how you use this service, such as the pages you visit.
          </p>

          <h2 class="govuk-heading-m">Cookie settings</h2>
          <p class="govuk-body">
            We use 2 types of cookie. One type is essential for this service to work. The other type tracks your usage of this service and you can choose whether to have that cookie enabled.
          </p>

          <form data-module="cookie-settings" method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}" />
            <input name="referrer" type="hidden" value="{{ currentLocation }}" />

            <fieldset class="govuk-fieldset" aria-describedby="hint-analytics">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Cookies that measure website use
                </h2>
              </legend>

              <div id="hint-analytics" class=" govuk-!-margin-bottom-6">
                <p class="govuk-body">
                  We use Google Analytics to measure how you use the website so
                  we can improve it based on user needs. We do not allow Google
                  to use or share the data about how you use this site.
                </p>
                <p class="govuk-body">
                  Google Analytics sets cookies that store anonymised
                  information about:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>how you got to the site</li>
                  <li>
                    the pages you visit within this service, GOV.UK and other government digital services, and how long you spend on each page
                  </li>
                  <li>what you click on while you are visiting the site</li>
                </ul>
              </div>

              <div class="govuk-form-group">
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      class="govuk-radios__input"
                      name="cookies"
                      id="radio-analytics-0"
                      value="accept"
                      {% if cookiesPolicy.analytics === "on" %} checked {% endif %}
                    />
                    <label for="radio-analytics-0" class="govuk-label govuk-radios__label">
                      Use cookies that measure my website use
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      class="govuk-radios__input"
                      name="cookies"
                      id="radio-analytics-1"
                      value="reject"
                      {% if cookiesPolicy.analytics !== "on" %} checked {% endif %}
                    />
                    <label for="radio-analytics-1" class="gem-c-label govuk-label govuk-radios__label">
                      Do not use cookies that measure my website use
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="gem-c-govspeak govuk-govspeak" data-module="govspeak">
              <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
              <p class="govuk-body">
                These essential cookies do things like remember your progress through a form.
              </p>
              <p class="govuk-body">They always need to be on.</p>
              <p class="govuk-body">
                <a
                  class="govuk-link"
                  href="https://www.gov.uk/help/cookie-details"
                  target="_blank"
                >
                  <a class="govuk-link email" href="https://www.gov.uk/help/cookie-details" target="_blank" rel="noopener noreferrer">
                    Find out more about cookies on GOV.UK
                  </a>
                </a>
              </p>
            </div>

            <button class="gem-c-button govuk-button" type="submit">
              Save changes
            </button>
          </form>
      </div>
    </div>
  </div>
{% endblock %}
