<form class="form" action="{{ nextRoute }}" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'region' }}">
    <fieldset class="govuk-fieldset">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="area">
          Where in {{_.startCase(country) }} do you want to find {{ serviceLabel }}? (Optional)
        </label>
      </h1>
      <div id="area-hint" class="govuk-hint">
        Provide a city, area or postcode to order the results with the nearest first.  Leave blank for an alphabetical list of all
        {{  serviceLabelPlural }} for the whole country.
      </div>
      {% if error.field === 'region' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <input class="govuk-input {{ "govuk-input--error" if error.field === 'region' }}" id="area" name="region" type="text"/>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
