<form class="form" action="{{ nextRoute }}" method="post" required>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'interpreter-services' }}">
    <fieldset class="govuk-fieldset" aria-describedby="interpreter-services-hint">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="interpreterServices">
          {{ partialPageTitle }}
        </label>
      </h1>
      <div id="interpreter-services-hint" class="govuk-hint">
        You can choose as many options from the list as you need.
      </div>
      {% if error.field === 'interpreter-services' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="interpreter-services-select-all"
            name="interpreterServices"
            type="checkbox"
            value="All"
            {{ 'checked' if error.checkboxValues and "All" in error.checkboxValues }}
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="interpreter-services-select-all"
          >
            Select all
          </label>
        </div>
        {% for service in partialData %}
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="interpreter-services-{{service.value.toLowerCase()}}"
            name="interpreterServices"
            type="checkbox"
            value="{{ service.value }}"
            {{ 'checked' if error.checkboxValues and service.value in error.checkboxValues }}
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="interpreter-services-{{ service.value.toLowerCase() }}"
          >
            {{ service.text }}
          </label>
          <div id="interpreter-services-{{service.value.toLowerCase()}}-hint" class="govuk-hint govuk-checkboxes__hint">
            {{ service.description }}
          </div>
        </div>
        {% endfor %}
        <input
          aria-hidden="true"
          class="govuk-radios__input"
          name="interpreterServices"
          type="hidden"
          value=""
        />
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
