<form class="form" action="{{ nextRoute }}" method="post" required>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="translationSpecialties">
      {{ partialPageTitle }}
    </label>
  </h1>
  {% set translationSpecialtiesNEW = "" %}
  {% set interpreterServicesNEW = "" %}

  {% for item in partialData %}
    {% if item.name === 'translationSpecialties' %}
      {% set translationSpecialtiesNEW = item.data %}
    {% elseif item.name === 'interpretationServices' %}
      {% set interpreterServicesNEW = item.data %}
    {% endif %}
  {% endfor %}
  {% if error.field === 'interpreter-translation-services' %}
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
    </span>
  {% endif %}
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'interpreter-translation-services' }}">
    <fieldset class="govuk-fieldset" aria-describedby="interpreter-translation-services-hint">
      <legend id="translation-specialties-title" class="govuk-fieldset__legend govuk-label--s">
        Select the type of translation that you need
      </legend>
      <div id="translation-specialties-hint" class="govuk-hint">
        Translation is when written content is translated into another language.
      </div>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="translation-specialties-select-all"
            name="translationSpecialties"
            type="checkbox"
            value="All"
            {{ 'checked' if error.checkboxValues and "All" in error.checkboxValues }}
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="interpreter-translation-specialties-select-all"
          >
            Select all
          </label>
          <div id="translation-specialties-all-hint" class="govuk-hint govuk-checkboxes__hint">
            Show all translators
          </div>
        </div>

        {% for speciality in interpreterServicesNEW %}
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="translation-specialties-{{speciality.value}}"
              name="translationSpecialties"
              type="checkbox"
              value="{{ speciality.value }}"
              {{ 'checked' if error.checkboxValues and speciality.value in error.checkboxValues }}
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              for="translation-specialties-{{ speciality.value }}"
            >
              {{ speciality.text }}
            </label>
            <div id="translation-specialties-{{speciality.value}}-hint" class="govuk-hint govuk-checkboxes__hint">
              {{ speciality.description }}
            </div>
          </div>
        {% endfor %}

      </div>
    </fieldset>
  </div>

  {% if error.field === 'interpreter-translation-services' %}
    <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
  {% endif %}

  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'interpreter-translation-services' }}">
    <fieldset class="govuk-fieldset" aria-describedby="interpreter-translation-services-hint">
      <legend id="interpreter-services-title" class="govuk-fieldset__legend govuk-label--s">
        Select the situation that you need an interpreter for
      </legend>
      <div id="interpreter-services-hint" class="govuk-hint">
        Interpretation is when spoken language is interpreted into another language.
      </div>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="interpreter-services-select-all"
            name="interpreterServices"
            type="checkbox"
            value="All"
            {{ 'checked' if error.checkboxValues and "All" in error.checkboxValues }}
          />
          <label
            class="govuk-label govuk-checkboxes__label"
            for="interpreter-interpreter-services-select-all"
          >
            Select all
          </label>
          <div id="interpreter-services-all-hint" class="govuk-hint govuk-checkboxes__hint">
            Show all interpreters
          </div>
        </div>

        {% for service in interpreterServicesNEW %}
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="interpreter-services-{{service.value}}"
              name="interpreterServices"
              type="checkbox"
              value="{{ service.value }}"
              {{ 'checked' if error.checkboxValues and service.value in error.checkboxValues }}
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              for="interpreter-services-{{ service.value }}"
            >
              {{ service.text }}
            </label>
            <div id="interpreter-services-{{service.value}}-hint" class="govuk-hint govuk-checkboxes__hint">
              {{ service.description }}
            </div>
          </div>
        {% endfor %}
        <input
          aria-hidden="true"
          class="govuk-radios__input"
          name="interpreterTranslationServices"
          type="hidden"
          value=""
        />
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
