<form class="form" action="{{ nextRoute }}" method="post">
  <input type="hidden" name="_csrf" value="{{ _csrf }}" />
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'legal-aid' }}">
    <fieldset class="govuk-fieldset" aria-describedby="legal-aid-hint">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="legalAid">
          Are you interested in legal aid?
        </label>
      </h1>
      <div id="legal-aid-hint" class="govuk-hint">
        Some countries may offer legal aid to UK nationals. Legal aid can help
        cover the costs of legal advice and other fees concerning your case.
        Eligibility for legal aid depends on meeting certain criteria and is
        decided on a case by case basis.
      </div>
      {% if error.field === 'legal-aid' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <div class="govuk-radios govuk-radios--inline" role="radiogroup">
        <div class="govuk-radios__item">
          <input
            aria-hidden="true"
            class="govuk-radios__input"
            name="legalAid"
            type="hidden"
            value=""
          />
          <input
            class="govuk-radios__input"
            id="legal-aid-yes"
            name="legalAid"
            type="radio"
            value="yes"
          />
          <label class="govuk-label govuk-radios__label" for="legal-aid-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="legal-aid-no"
            name="legalAid"
            type="radio"
            value="no"
          />
          <label class="govuk-label govuk-radios__label" for="legal-aid-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
