<form class="form" action="{{ nextRoute }}" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'repatriation' }}">
    <fieldset class="govuk-fieldset" aria-describedby="repatriation-hint">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="repatriation">
          Do you want to repatriation the deceased to the UK?
        </label>
      </h1>
      {% if error.field === 'repatriation' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <div class="govuk-radios govuk-radios--inline" role="radiogroup">
        <div class="govuk-radios__item">
          <input
            aria-hidden="true"
            class="govuk-radios__input"
            name="repatriation"
            type="hidden"
            value=""
          />
          <input
            class="govuk-radios__input"
            id="repatriation-yes"
            name="repatriation"
            type="radio"
            value="yes"
          />
          <label class="govuk-label govuk-radios__label" for="repatriation-yes">
            Yes, I want to bring the deceased back to the UK
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="repatriation-no"
            name="repatriation"
            type="radio"
            value="no"
          />
          <label class="govuk-label govuk-radios__label" for="repatriation-no">
            No, I do not want to bring the deceased back to the UK
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
