<form class="form" action="{{ nextRoute }}" method="post">
  <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'pro-bono' }}">
    <fieldset class="govuk-fieldset" aria-describedby="pro-bono-hint">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="proBono">
          Are you interested in pro bono services?
        </label>
      </h1>
      <div id="pro-bono-hint" class="govuk-hint">
        Lawyers in some countries may provide services on a pro bono basis. 
        Pro bono work is done for free or at a much reduced cost for people unable to afford full legal fees. 
        This is decided on a case by case basis.
      </div>
      {% if error.field === 'pro-bono' %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
        </span>
      {% endif %}
      <div class="govuk-radios govuk-radios--inline" role="radiogroup">
        <div class="govuk-radios__item">
          <input
            aria-hidden="true"
            class="govuk-radios__input"
            name="proBono"
            type="hidden"
            value=""
          />
          <input
            class="govuk-radios__input"
            id="pro-bono-yes"
            name="proBono"
            type="radio"
            value="yes"
          />
          <label class="govuk-label govuk-radios__label" for="pro-bono-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="pro-bono-no"
            name="proBono"
            type="radio"
            value="no"
          />
          <label class="govuk-label govuk-radios__label" for="pro-bono-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
