{% extends "layout.njk" %}

{% block pageTitle %}
  Find a professional service abroad - Privacy Notice
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-body">
        <h1 class="govuk-heading-xl">Accessibility statement</h1>
        <p>This service is run by the Foreign, Commonwealth & Development Office (FCDO).</p>
        <p>
          It uses <a href="https://gov.uk" target="_blank">GOV.UK</a>
            typography (for example, text size) and form elements (for example, buttons) which have been tested to ensure they are accessible. The text should be clear and easy to understand.</p>
      </div>
    </div>
  </div>
{% endblock %}
