{% extends "layout.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block content %}
  <div class="dashboard__logout">
    <a href="/logout" class="govuk-link">Logout</a>
  </div>
  <div class="govuk-width-container dashboard__container">
    <div class="govuk-grid-row back-links__container">
      <div class="govuk-grid-column-full">
        {% block dashboard %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
