{% extends "layout.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block content %}
  <div class="dashboard__logout">
    <a href="/logout" class="govuk-link">Logout</a>
  </div>
  <div class="govuk-width-container dashboard__container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter vertical-align">
        <nav class="govuk-!-padding-bottom-7">
          <ul class="govuk-list">
            {% block sideNav %}
              {{ dashboardMacros.navMenu("Lists", dashboardRoutes.lists, req) }}
              {% if req.user.isSuperAdmin() %}
                {{ dashboardMacros.navMenu("Feedbacks", dashboardRoutes.feedback, req) }}
                {{ dashboardMacros.navMenu("Users", dashboardRoutes.usersList, req) }}
              {% endif %}
            {% endblock %}
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">
        {% block dashboard %}
          <h1 class="govuk-heading-l">Dashboard</h1>

          {% if isNewUser %}
            {% include "./partials/new-user-banner.njk" %}
          {% endif %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
