{% extends "layout.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block header %}
  {% include "includes/header-list-mgmt.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container dashboard__container">
    <div class="govuk-grid-row back-links__container">
      <div class="govuk-grid-column-full">
        {% block dashboard %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
