{% extends "./dashboard.html" %}

{% block dashboard %}
  {% if feedbacksList.length === 0 %}
    <p class="govuk-body">There are no feedbacks</p>
  {% else %}
    {% for feedback in feedbacksList %}
      <h1 class="govuk-heading-l">Feedbacks</h1>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">
          {{ feedback.id }} - 
          {{ parseDate(feedback.createdAt) }}
        </caption>
        <tbody class="govuk-table__body">
            {% for question in _.get(feedback, "jsonData.questionsAndAnswers", []) %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ question.question }}</th>
                <td class="govuk-table__cell">{{ question.answer }}</td>
              </tr>
            {% endfor %}        
        </tbody>
      </table>
      <hr class="govuk-section-break govuk-section-break--s">
    {% endfor %}
  {% endif %}
{% endblock %}