{% extends "./dashboard.njk" %}

{% block dashboard %}
  <a href="{{ backUrl }}" class="govuk-link govuk-back-link govuk-!-margin-top-0"> Back </a>

  <h1 class="govuk-heading-l govuk-!-margin-top-6">Help</h1>
  <p class="govuk-body">Check the policy guidance on diplohub for
    <a
      class="govuk-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://fcogovuk.sharepoint.com/sites/consular-guidance/SitePages/Find-a-professional-service-abroad-guidance.aspx"
      >policy guidance</a
  >, email templates, and instructions on how to use list management.</p>
{% endblock %}
