{% extends "./dashboard.njk" %}

{% block dashboard %}
  <h1 class="govuk-heading-l">Help</h1>
  <p class="govuk-body">Check the policy guidance on diplohub for
    <a
      class="govuk-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://fcogovuk.sharepoint.com/sites/consular-guidance/SitePages/Find-a-professional-service-abroad-guidance.aspx"
      >policy guidance</a
  >, email templates, and instructions on how to use list management.</p>
{% endblock %}