{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}


{% block content %}
  <div class="govuk-grid-row back-links__container">
    <aside class="govuk-grid-column-one-quarter back-links__aside">
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="{{ listsEditUrl }}">Back</a>
      </div>
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="{{ listsEditUrl }}">Back</a>
      </div>
    </aside>

    <div class="govuk-grid-column-three-quarters">
      {% if messages.successBannerHeading %}
        {{ dashboardMacros.successBanner("Success", messages.successBannerMessage, "green") }}
      {% endif %}

      {% if messages.error %}
        {{ dashboardMacros.errorBanner(messages.error) }}
      {% endif %}

      {% if error.field %}
        {{ dashboardMacros.errorBanner(error) }}
      {% endif %}

      <h2 class="govuk-heading-m grey-text">{{list.country.name}}</h2>
      <h1 class="govuk-heading-l">
        Settings - {{ _.startCase(list.type) }}
      </h1>
      <h3 class="govuk-heading-s">This list is {{ "not" if not isAnnualReview }} in annual review mode</h3>

      <form class="form" method="post" required>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% if not isAnnualReview %}
         {{  govukInput({
           label: {
             text: "Next annual review start date"
           },
           hint: {
             text: "Enter in the ISO format YYYY-MM-DDT, for example 2023-07-05T"
           },
           value: nextAnnualReviewStartDate,
           id: "nextAnnualReviewStartDate",
           name: "nextAnnualReviewStartDate"
         }) }}

          {{  govukInput({
            label: {
              text: "Last annual review start date"
            },
            hint: {
              text: "Enter in the ISO format YYYY-MM-DDT, for example 2023-07-05T"
            },
            value: lastAnnualReviewStartDate,
            id: "lastAnnualReviewStartDate",
            name: "lastAnnualReviewStartDate"
          }) }}


        {% endif %}
        {% if isAnnualReview %}
          {% set rowsWithInput = [] %}
          {% for key, value in keyDates %}
            {% set text = _.replace(key, r/annualReview|unpublished|\[|\]/g, '') %}
            {% set input = govukInput({
              label: {
                text: text,
                classes: "govuk-visually-hidden"
              },
              value: value,
              id: key,
              name: key
            }) %}

            {% set rowWithInput = [
              {
                text: text
              },
              {
                html: input
              }
            ]
            %}

            {% set rowsWithInput = (rowsWithInput.push(rowWithInput), rowsWithInput) %}

          {% endfor %}

          {{ govukTable({
            caption: "Key dates",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
              {
                text: "Key date"
              },
              {
                text: "Date to send email"
              }
            ],
            rows: rowsWithInput
          }) }}

        {% endif %}


        {{ govukButton({
          text: "Update"
        }) }}

        {% if isAnnualReview %}


        <h3 class="govuk-heading-s">Current week (since annual review starting): {{ currentWeek }}</h3>

        {% for week, data in weeklyReminders %}
          {% set eventRows = [] %}

          {% for event in data.events %}

            {% set row = {
              key: {
                text: event.listItem.id + " " + event.listItem.jsonData.organisationName
              },
              value: {
                text: event.jsonData.notes
              },
              actions: {
                items: [
                  {
                    href: "?del=" + event.id,
                    text: "Delete reminder"
                  }
                ]
              }
            } %}


            {% set eventRows = (eventRows.push(row), eventRows) %}

          {% endfor %}

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <h3 class="govuk-heading-s">{{ week }} weeks since start date. {{ data.events.length }} reminders sent</h3>
              </span>
            </summary>
            <div class="govuk-details__text">
              {{ data.range }} <br>
              <a class="govuk-button govuk-button--warning" href="development?{{ data.deleteUrl }}">Delete all reminders for this week</a>
              {{ govukSummaryList({
                rows: eventRows
              }) }}
            </div>
          </details>



        {% endfor %}
        {% endif %}


      </form>
    </div>
  </div>

{% endblock %}
