{% extends "./dashboard.njk" %}

{% block dashboard %}
  {% if isNewUser %}
    {% include "./partials/new-user-banner.njk" %}
  {% endif %}

  {% if lists.length > 0 %}
    <h1 class="govuk-table__caption govuk-table__caption--l">
      Lists
    </h1>
    <div class="govuk-!-margin-bottom-1">
      <a href="{{ dashboardRoutes.listsEdit.replace(':listId', 'new') }}" class="govuk-link">Create New List</a>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Country</th>
          <th scope="col" class="govuk-table__header">Last review</th>
          <th scope="col" class="govuk-table__header">Next review</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for list in lists %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">
              {% if userIsListValidator(req, list) or userIsListPublisher(req, list) %}
                <a href="{{ dashboardRoutes.listsItems.replace(':listId', list.id) }}" class="govuk-link">{{ _.startCase(list.type) }}</a>
              {% else %}
                {{ _.startCase(list.type) }}
              {% endif %}
            </td>
            <td class="govuk-table__cell">{{ list.country.name }}</td>

            <td class="govuk-table__cell">{{ list.lastAnnualReviewStartDate if list.lastAnnualReviewStartDate else "No review"}}</td>
            <td class="govuk-table__cell">{{ list.annualReviewStartDate }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if userIsListAdministrator(req, list) %}
                <a href="{{ dashboardRoutes.listsEdit.replace(':listId', list.id) }}" class="govuk-link">Settings</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}