{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block aside %}
  <a class="govuk-link govuk-back-link" href="{{ dashboardRoutes.listsItems.replace(':listId', list.id) }}">Back</a>
{% endblock %}

{% block dashboard %}
  {% if error and error.text %}
  {{ dashboardMacros.errorBanner(error) }}
  {% endif %}

  <h1 class="govuk-heading-l">
    {{ title }} details
  </h1>

  {% if not listItem %}
    <p class="govuk-body">Details could not be found</p>
  {% else %}
  <form id="pinForm"
        class="form"
        action="{{ dashboardRoutes.listsItemPin.replace(':listId', list.id).replace(':listItemId', listItem.id) }}"
        method="post" required>
  </form>
  <form id="mainForm" class="form" action="{{ dashboardRoutes.listsItem.replace(':listId', list.id).replace(':listItemId', listItem.id) }}" method="post" required>

    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-list dashboard__content-list">
          <div id="item-{{ listItem.id }}">
            {% include "./partials/details.njk" %}
            {{ dashboardMacros.listItemEditActionBar(list, listItem, dashboardRoutes, listItem.jsonData.contactName, isPinned, actionButtons) }}
          </div>
      </div>
    </form>

    <script nonce="{{cspNonce}}">

      const hiddenClass = "govuk-radios__conditional--hidden";
      document.querySelector("#conditional-action-requestChanges").classList.add(hiddenClass);
      const radios = document.querySelectorAll('input[type=radio][name="action"]');
      radios.forEach(radio => radio.addEventListener('change', () => {
        const isRequestingChanges = radio.value === "requestChanges" && radio.checked;
        const requestChangesTextarea = document.getElementById("conditional-action-requestChanges");

        if (isRequestingChanges) {
          requestChangesTextarea.classList.remove(hiddenClass);
        } else {
          requestChangesTextarea.classList.add(hiddenClass);
        }
      }));

    </script>
  {% endif %}
{% endblock %}
