{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% extends "./dashboard.njk" %}

{% block aside %}
{% endblock %}

{% block dashboard %}

  {% if error.text %}
    {{ dashboardMacros.errorBanner(error) }}
  {% endif %}

  <form class="form" action="{{ dashboardRoutes.listsEditAnnualReviewDate.replace(':listId', list.id) }}" method="post" required>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />

    <h2 class="govuk-heading-m grey-text">{{list.country.name}}</h2>

    <h1 class="govuk-heading-l">
      Change annual review start date
    </h1>

    <p class="govuk-body">The next {{_.startCase(list.type)}} list annual review starts <strong>{{ annualReviewStartDate }}.</strong></p>

    <div class="govuk-form-group {{ "govuk-form-group--error" if error.text }}" id="annualReviewDateForm">
        <h2 class="govuk-heading-m govuk-!-margin-0">Enter a new start date</h2>
        <fieldset class="govuk-fieldset" role="group" aria-describedby="annual-review-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          </legend>
          <div id="annual-review-date" class="govuk-hint">
              The new date must be within 6 months of today’s date
          </div>

{# {{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "When was your passport issued?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: {
    text: error.text
  }
}) }} #}
          {% if error.text %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
            </span>
          {% endif %}
          <div class="govuk-date-input" id="annual-review-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ "govuk-input--error" if error.text }}" data-testid="day" id="day" name="day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="month">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ "govuk-input--error" if error.text }}" data-testid="month" id="month" name="month" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button" name="action" value="confirmNewDate">
        Continue
      </button>

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="{{ dashboardRoutes.listsEdit.replace(':listId', list.id) }}">Cancel</a>
    </div>

  </form>

{% endblock %}
