{% from "button/macro.njk" import govukButton %}
{% extends "./dashboard.njk" %}

{% block aside %}
{% endblock %}

{% block dashboard %}

  <form class="form" action="{{ listItemUrl }}/archive" method="post" required>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
    <h1 class="govuk-heading-l">
      Archive service provider
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Are you sure you want to archive this service provider?</h2>

    <p class="govuk-body govuk-!-padding-2 confirmation-focus-box" data-testid="provider-summary">
      {{ _.startCase(_.toLower(listItem.jsonData.contactName)) }}<br/>
      {{ listItem.jsonData.organisationName if listItem.jsonData.organisationName }}<br/>
      {{ listItem.jsonData.emailAddress }}<br/>
      {{ listItem.jsonData.phoneNumber }}
    </p>

    <p class="govuk-body">When a service provider is archived:
      <ul class="govuk-list govuk-list--bullet">
        <li>use this list management system to ask them to change their information</li>
        <li>publish their information on the list</li>
      </ul>
    </p>

    <p class="govuk-body">Service provider details are stored in the archive for 1 year before being deleted.</p>

    <div class="govuk-button-group">

      {{ govukButton({
        text: "Archive",
        classes: "govuk-button--ok govuk-!-margin-bottom-2",
        attributes: {
          id: ["action-button-", listItem.id] | join,
          "data-title": _.startCase(titleProperty),
          "data-id": listItem.id
        }
      }) }}

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="{{ listItemUrl }}">Cancel</a>
    </div>

  </form>

{% endblock %}
