{% extends "layout.njk" %}
{% import "../lists/partials/covid-test-providers/macros.njk" as covidTestProvidersMacros %}
{% import "../lists/partials/lawyers/macros.njk" as lawyersMacros %}
{% import "./macros.njk" as dashboardMacros %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block header %}
  {% include "includes/header-list-mgmt.njk" %}
{% endblock %}


{% block pageTitle %}
    List management - {{ title }} - {{ SERVICE_NAME }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row back-links__container">
    <aside class="govuk-grid-column-one-quarter">
      <a class="govuk-back-link" href="{{ dashboardRoutes.lists }}">Back</a>
      <form class="govuk-!-margin-top-4">
        {{ govukCheckboxes({
          name: "activity",
          fieldset: {
            legend: {
              text: "Activity status"
            }
          },
          items: activityStatus
        }) }}

        {{ govukCheckboxes({
          name: "publishing",
          fieldset: {
            legend: {
              text: "Publishing status"
            }
          },
          items: publishingStatus
        }) }}
        <button class="govuk-button">Apply filters</button>
      </form>
    </aside>

    <div class="govuk-grid-column-three-quarters">
      {% if messages.successBannerTitle %}
          {% set bannerHeading = _.capitalize(_.toLower(messages.successBannerHeading)) %}
          {% set bannerTitle = messages.successBannerTitle %}
          {{ dashboardMacros.successBanner(bannerHeading, bannerTitle, messages.successBannerColour) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      {% if bannerToggles.onMonthWarning %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Annual review
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Annual review will start on {{ annualReviewDate }} at 11am (GMT)

              <a href="{{ listsEditUrl }}/annual-review-date">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">Change date</button>
              </a>
            </p>
          </div>
        </div>
      {% endif %}

      {% if bannerToggles.emailsSent %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Annual review has started
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              All published service providers were sent a request to review their information on {{ annualReviewDate }} at 11am (GMT)
            </p>
          </div>
        </div>
      {% endif %}

      {% if bannerToggles.unpublishWarning %}
        <div class="govuk-notification-banner govuk-notification-banner--error" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Service providers are going to be unpublished
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
              <strong>2 service providers are going to be unpublished at 1pm on {{ unpublishDate }} as they have not responded to the annual review. <a href="#" class="govuk-link">Check which providers</a> are going to be unpublished.</strong>
          </div>
        </div>
      {% endif %}

      {% if list.items.length > 1 %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong class="govuk-body">The list is ordered with the most recent submissions and changes first</strong>
      {% endif %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% if list.pinnedItems.length !== 0 %}
        <h2 class="govuk-heading-m">Pinned items</h2>
        <ul class="govuk-list dashboard__content-list dashboard__content-list--pinned">
          {% for listItem in list.pinnedItems %}
            {% set isPinned = true %}
            {% include "./partials/list-item-summary.njk" %}
          {% endfor %}
        </ul>
      {% endif %}

      {% if list.items.length === 0 %}
        <p class="govuk-body">This list is empty</p>
      {% else %}
        <ul class="govuk-list dashboard__content-list">
          {% for listItem in list.items %}
            {% set isPinned = false %}
            {% include "./partials/list-item-summary.njk" %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
