{% from "button/macro.njk" import govukButton %}
{% extends "./dashboard.njk" %}

{% block aside %}
{% endblock %}

{% block dashboard %}

  <form class="form" action="{{ postActionPageUrl }}" method="post" required>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="action" value="remove"/>

    <h1 class="govuk-heading-l">
      Remove this service provider
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">You are about to remove the following provider from the live list:</h2>

    <p class="govuk-body govuk-!-padding-2 confirmation-focus-box" data-testid="provider-summary">
      {{ _.startCase(_.toLower(listItem.jsonData.contactName)) }}<br/>
      {{ listItem.jsonData.organisationName if listItem.jsonData.organisationName }}<br/>
      {{ listItem.jsonData.emailAddress }}<br/>
      {{ listItem.jsonData.phoneNumber }}
    </p>

    <p class="govuk-body">Before proceeding, you need to:
      <ul class="govuk-list govuk-list--bullet">
        <li>contact the service provider to tell them that they are being removed from the list and provide a reason for doing so</li>
        <li>record your decision (for example in a shared spreadsheet), the reasons for it, and any findings and actions taken</li>
      </ul>
    </p>

    <p class="govuk-body">Refer to the service guidance for further information.</p>

    <div class="govuk-button-group">

      {{ govukButton({
        text: "Remove",
        classes: "govuk-button--ok govuk-!-margin-bottom-2",
        attributes: {
          id: ["action-button-", listItem.id] | join,
          "data-title": _.startCase(titleProperty),
          "data-id": listItem.id
        }
      }) }}

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="{{ dashboardRoutes.listsItem.replace(':listId', list.id).replace(':listItemId', listItem.id) }}">Cancel</a>
    </div>

  </form>

{% endblock %}
