{% from "button/macro.njk" import govukButton %}
{% extends "./dashboard.njk" %}

{% block sideNav %}
{% endblock %}

{% block dashboard %}

  <form class="form" action="{{ dashboardRoutes.listsItemConfirm.replace(':listId', list.id).replace(':listItemId', listItem.id) }}" method="post" required>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="action" value="requestChanges"/>

    <h1 class="govuk-heading-l">
      Request changes
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">You are asking for the following changes:</h2>

    <p class="govuk-body govuk-!-padding-2 confirmation-focus-box">{{ req.session.changeMessage if req.session.changeMessage }}</p>

    <p class="govuk-body">An email with this request will be sent to the following service provider:</p>

    <p class="govuk-body">
      {{ _.startCase(_.toLower(listItem.jsonData.contactName)) }}<br/>
      {{ _.startCase(_.toLower(listItem.jsonData.organisationName if listItem.jsonData.organisationName)) }}<br/>
      {{ listItem.jsonData.emailAddress }}<br/>
      {{ listItem.jsonData.phoneNumber }}
    </p>

    <p class="govuk-body">Before proceeding, you may want to record your decision (for example in a shared spreadsheet).</p>

    <p class="govuk-body">Refer to the service guidance for further information.</p>

    <div class="govuk-button-group">

      {{ govukButton({
        text: "Request changes",
        classes: "govuk-button--ok govuk-!-margin-bottom-2",
        attributes: {
          id: ["action-button-", listItem.id] | join,
          "data-title": _.startCase(titleProperty),
          "data-id": listItem.id
        }
      }) }}

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="{{ dashboardRoutes.listsItem.replace(':listId', list.id).replace(':listItemId', listItem.id) }}">Cancel</a>
    </div>

  </form>

{% endblock %}
