{% from "button/macro.njk" import govukButton %}
{% extends "./dashboard.njk" %}

{% block aside %}
{% endblock %}

{% block dashboard %}

  <form class="form" action="{{ postActionPageUrl }}" method="post" required>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="action" value="update"/>

    <h1 class="govuk-heading-l">
      Update this service provider
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">You are about to update this entry on the live list</h2>

    <p class="govuk-body">The original entry will be overwritten on the live list.</p>

    <div class="govuk-button-group">

      {{ govukButton({
        text: "Update",
        classes: "govuk-button--ok govuk-!-margin-bottom-2",
        attributes: {
          id: ["action-button-", listItem.id] | join,
          "data-title": _.startCase(titleProperty),
          "data-id": listItem.id
        }
      }) }}

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="{{ dashboardRoutes.listsItem.replace(':listId', list.id).replace(':listItemId', listItem.id) }}">Cancel</a>
    </div>

  </form>

{% endblock %}
