{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}


{% block content %}
  <div class="govuk-grid-row back-links__container">
    <aside class="govuk-grid-column-one-quarter back-links__aside">
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="{{ listsEditUrl }}">Back</a>
      </div>
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="{{ listsEditUrl }}">Back</a>
      </div>
    </aside>

    <div class="govuk-grid-column-three-quarters">
      {% if messages.successBannerHeading %}
        {{ dashboardMacros.successBanner("Success", messages.successBannerMessage, "green") }}
      {% endif %}

      {% if messages.error %}
        {{ dashboardMacros.errorBanner(messages.error) }}
      {% endif %}

      {% if error.field %}
        {{ dashboardMacros.errorBanner(error) }}
      {% endif %}

      <h2 class="govuk-heading-m grey-text">{{list.country.name}}</h2>
      <h1 class="govuk-heading-l">
        Settings - {{ _.startCase(list.type) }}
      </h1>

      <form class="form" method="post" required>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% set rowsWithInput = [] %}
        {% for key, value in keyDates %}
          {% set text = _.replace(key, r/annualReview|unpublished|\[|\]/g, '') %}
          {% set input = govukInput({
            label: {
              text: text,
              classes: "govuk-visually-hidden"
            },
            value: value,
            id: key,
            name: key
          }) %}

          {% set rowWithInput = [
            {
              text: text
            },
            {
              html: input
            }
          ]
          %}

          {% set rowsWithInput = (rowsWithInput.push(rowWithInput), rowsWithInput) %}

        {% endfor %}

        {{ govukTable({
          caption: "Key dates",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Key date"
            },
            {
              text: "Date to send email"
            }
          ],
          rows: rowsWithInput
        }) }}

        {{ govukButton({
          text: "Update"
        }) }}



        <h3 class="govuk-heading-s">Current week (since annual review starting): {{ currentWeek }}</h3>

        {% for week, data in weeklyReminders %}
          {% set eventRows = [] %}

          {% for listItem in data.events %}


            {% set row = {
              key: {
                text: "listItemId: " + listItem.id
              },
              value: {
                text: listItem.history.length + " sent"
              }
            } %}


            {% set eventRows = (eventRows.push(row), eventRows) %}

          {% endfor %}

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <h3 class="govuk-heading-s">{{ week }} weeks since start date. {{ data.count }} reminders sent</h3>
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-button govuk-button--warning" href="development?{{ data.deleteUrl }}">Delete all reminders for this week</a>
              {{ govukSummaryList({
                rows: eventRows
              }) }}
            </div>
          </details>



        {% endfor %}


      </form>
    </div>
  </div>

{% endblock %}
