{% extends "./dashboard.njk" %}
{% from "table/macro.njk" import govukTable %}
{% from "./partials/table-header-cell.njk" import tableHeaderCell %}

{% block dashboard %}
  {% if isNewUser %}
    {% include "./partials/new-user-banner.njk" %}
  {% endif %}

  {% if lists.length > 0 %}
    <div class="govuk-grid-row">
      <h1 class="govuk-grid-column-one-quarter govuk-table__caption--l">Your lists</h1>
      {% if req.user.isAdministrator %}
        <div class="govuk-grid-column-three-quarters govuk-!-text-align-right govuk-!-margin-top-6">
          <a href="{{ dashboardRoutes.listsEdit.replace(':listId', 'new') }}" class="govuk-link">Create New List</a>
        </div>
      {% endif %}
    </div>

    {% include "./partials/dashboard-boxes.njk" %}

    <table class="govuk-table dashboard-table">

      <thead class="govuk-table__head">
      <caption class="govuk-visually-hidden">Your lists</caption>
        {% for cell in tableHeaders %}
            {{ tableHeaderCell(cell) }}
        {% endfor %}
        {{ tableHeaderCell({name: "listId"}) }}
      </thead>
      <tbody class="govuk-table__body">
        {% for list in lists %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header  dashboard-table__cell">
                <a href="{{ dashboardRoutes.listsItems.replace(':listId', list.listId) }}" class="govuk-link">
                  {{ "Translators and Interpreters" if list.type === 'translatorsInterpreters' else _.startCase(list.type) }}
                  <span class="govuk-visually-hidden">in {{ list.country }}</span>
                </a>
            </td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.country }}</td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.live }}</td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.actionNeeded }}</td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.lastAnnualReviewStartDate.toLocaleDateString("en-GB", { day: 'numeric', month: 'short', year: '2-digit' }) if list.lastAnnualReviewStartDate else "None"}}</td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.nextAnnualReviewStartDate.toLocaleDateString("en-GB", { day: 'numeric', month: 'short', year: '2-digit' }) if list.nextAnnualReviewStartDate else "No review"}}</td>
            <td class="govuk-table__cell dashboard-table__cell">{{ list.admins }}</td>
            <td class="govuk-table__cell dashboard-table__cell govuk-table__cell--numeric">
              <a href="{{ dashboardRoutes.listsEdit.replace(':listId', list.listId) }}" class="govuk-link">Settings</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
