{% extends "./dashboard.njk" %} {% import "../lists/partials/covid-test-providers/macros.njk" as
covidTestProvidersMacros %} {% import "../lists/partials/lawyers/macros.njk" as lawyersMacros %} {% import
"./macros.njk" as dashboardMacros %} {% from "checkboxes/macro.njk" import govukCheckboxes %} {% block aside %}
<aside>
  <a class="govuk-back-link" href="{{ dashboardRoutes.lists }}">Back</a>
  <form class="govuk-!-margin-top-4">
    {{ govukCheckboxes({ name: "tag", fieldset: { legend: { text: "Filter" } }, items: tags }) }}
    <button class="govuk-button">Apply filters</button>
  </form>
</aside>

{% endblock %} {% block dashboard %} {% if messages.successBannerTitle %} {% set bannerHeading =
_.capitalize(_.toLower(messages.successBannerHeading)) %} {% set title = messages.successBannerTitle %} {% set
colourClass = ".govuk-tag--blue" %} {% if messages.successBannerColour === "green" %} {% set colourClass =
".govuk-tag--green" %} {% elseif messages.successBannerColour === "red" %} {% set colourClass = ".govuk-tag--red" %} {%
endif %} {{ dashboardMacros.successBanner(bannerHeading, title, colourClass) }} {% endif %}

<h1 class="govuk-heading-l">{{ _.startCase(list.type) }} {{ 'in' if list.country.name }} {{ list.country.name }}</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<p class="govuk-body">
  Check the
  <a
    class="govuk-link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://fcogovuk.sharepoint.com/sites/consular-guidance/SitePages/Find-a-professional-service-abroad-guidance.aspx"
    >policy guidance</a
  >
  on diplohub for publishing guidance, email templates, and<br />
  instructions on how to use list management
</p>

{% if list.items.length > 1 %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<div class="govuk-body">List is ordered by last updated, with the oldest items at the top</div>
{% endif %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
{% if list.pinnedItems.length !== 0 %}
<h2 class="govuk-heading-m">Pinned items</h2>
<ul class="govuk-list dashboard__content-list dashboard__content-list--pinned">
  {% for listItem in list.pinnedItems %} {% set list = list %} {% include "./partials/list-item-summary.njk" %} {%
  endfor %}
</ul>

{% endif %} {% if list.items.length === 0 %}
<p class="govuk-body">This list is empty</p>
{% else %}
<ul class="govuk-list dashboard__content-list">
  {% for listItem in list.items %} {% set list = list %} {% include "./partials/list-item-summary.njk" %} {% endfor %}
</ul>
{% endif %} {% endblock %}
