{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}


{% block content %}
  <div class="govuk-grid-row back-links__container">
    <aside class="govuk-grid-column-one-quarter back-links__aside">
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
      </div>
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
      </div>
    </aside>

    <div class="govuk-grid-column-three-quarters">
      {% if messages.successBannerHeading %}
        {{ dashboardMacros.successBanner("Success", messages.successBannerMessage, "green") }}
      {% endif %}


      {% if messages.relatedLinkBannerStatus %}
        {% include "./related-links/banner.njk" %}
      {% endif %}

      {% if messages.error %}
        {{ dashboardMacros.errorBanner(messages.error) }}
      {% endif %}

      {% if error.field %}
        {{ dashboardMacros.errorBanner(error) }}
      {% endif %}

      <h2 class="govuk-heading-m grey-text">{{list.country.name}}</h2>
      <h1 class="govuk-heading-l">
        Settings - {{ _.startCase(list.type) }}
      </h1>

      <div>
        <h2 class="govuk-heading-m">Annual review</h2>
        {% if lastAnnualReviewStartDate %}
          <p class="govuk-body">The last annual review started on {{ lastAnnualReviewStartDate }}.</p>
        {% endif %}
        <h3 class="govuk-heading-s govuk-!-margin-0">Next annual review start date </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value" data-testid="annual-review-date">
              {{ annualReviewStartDate }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ dashboardRoutes.listsEditAnnualReviewDate.replace(':listId', list.id) }}">
                Change<span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>

      <form class="form" action="{{ listsEditUrl }}" method="post" required>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'publisher' }}">
            <fieldset class="govuk-fieldset">
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="publisher">
                  Add an administrator
                </label>
              </h3>
              {% if error.field === 'publisher' %}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
                </span>
              {% endif %}
              <div id="publisher-hint" class="govuk-body">
                All administrators can accept and publish service providers on this list.
              </div>
                <label class="govuk-label" for="publisher">
                  Enter an FCDO email address
                </label>
                <input class="govuk-input" id="publisher" name="publisher" type="email" aria-describedby="publisher-hint">
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
              Add to list
          </button>

          {% if error.field === 'publisherList' %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
            </span>
          {% endif %}

          <dl class="govuk-summary-list {{ "govuk-form-group--error" if error.field === 'publisherList' }}">
            {% for user in _.reverse(list.jsonData.users) %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ user }}
                </dt>
                <dd class="govuk-summary-list__actions">
                    <button class="govuk-button govuk-button--secondary govuk-!-margin-0" data-module="govuk-button" name="userEmail" value="{{ user }}">
                      Remove<span class="govuk-visually-hidden"> publisher</span>
                    </button>
                </dd>
              </div>
            {% endfor %}
          </dl>
      </form>
      {% include "./related-links/related-content.njk" %}
    </div>
  </div>

  <script nonce="{{cspNonce}}">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{list.country.name}}',
      selectElement: document.querySelector('#country-autocomplete'),
      autoselect: true,
      confirmOnBlur: true
    })
  </script>
{% endblock %}
