{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block aside %}
  <div class="back-links__item">
    <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
  </div>
  <div class="back-links__item">
    <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
  </div>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row back-links__container">
    <aside class="govuk-grid-column-one-quarter back-links__aside">
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
      </div>
      <div class="back-links__item">
        <a class="govuk-link govuk-back-link" href="/dashboard/lists">Back</a>
      </div>
    </aside>
    <div class="govuk-grid-column-three-quarters">
      {% if messages.successBannerHeading %}
        {{ dashboardMacros.successBanner("Success", messages.successBannerMessage, "green") }}
      {% endif %}

      {% if messages.error %}
        {{ dashboardMacros.errorBanner(messages.error) }}
      {% endif %}

      <h2 class="govuk-heading-m grey-text">{{list.country.name}}</h2>
      <h1 class="govuk-heading-l">
          Create a new list
      </h1>

      <form class="form" action="{{ listsEditUrl }}" method="post" required>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'serviceType' }}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading govuk-heading-m">
                Service a service type
              </h3>
            </legend>
            {% if error.field === 'serviceType' %}
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
              </span>
            {% endif %}
            <div class="govuk-radios">
              {% for prop, serviceType in ServiceType %}
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="serviceType-{{ serviceType }}"
                    name="serviceType"
                    type="radio"
                    value="{{ serviceType }}"
                    {{-" checked" if list.type === serviceType }}
                  >
                  <label class="govuk-label govuk-radios__label" for="serviceType-{{ serviceType }}">
                    {% if serviceType === 'translatorsInterpreters' %}
                      Translators and Interpreters
                    {% else %}
                      {{ _.capitalize(_.startCase(serviceType)) }}
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'country' }}">
          <h3 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="country-autocomplete">
              Which country is this list for?
            </label>
          </h3>
          {% if error.field === 'country' %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
            </span>
          {% endif %}
          <select id="country-autocomplete" name="country" class="govuk-input--error">
            <option value=""></option>
            {% for country in countriesList %}
              <option value="{{ country.value }}" {{-" selected='selected'" if list.country.name === country.value}}>{{ country.text }}</option>
            {% endfor %}
          </select>

        </div>

          <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'publisher' }}">
            <fieldset class="govuk-fieldset">
              <h3 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="publisher">
                  Add an administrator
                </label>
              </h3>
              {% if error.field === 'publisher' %}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
                </span>
              {% endif %}
              <div id="publisher-hint" class="govuk-body">
                New lists must have at least one administrator. Administrators can accept and publish service providers on this list.
              </div>
                <label class="govuk-label" for="publisher">
                  Enter an FCDO email address
                </label>
                <input class="govuk-input" id="publisher" name="publisher" type="email" aria-describedby="publisher-hint">
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
              Create
          </button>

          {% if error.field === 'publisherList' %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
            </span>
          {% endif %}

          <dl class="govuk-summary-list {{ "govuk-form-group--error" if error.field === 'publisherList' }}">
            {% for user in _.reverse(list.jsonData.users) %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ user }}
                </dt>
                <dd class="govuk-summary-list__actions">
                    <button class="govuk-link govuk-!-margin-0" data-module="govuk-button" name="userEmail" value="{{ user }}">
                      Remove<span class="govuk-visually-hidden"> admin</span>
                    </button>
                </dd>
              </div>
            {% endfor %}
          </dl>
      </form>
    </div>
  </div>

  <script nonce="{{cspNonce}}">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{list.country.name}}',
      selectElement: document.querySelector('#country-autocomplete'),
      autoselect: true,
      confirmOnBlur: true
    })
  </script>
{% endblock %}
