{% extends "./dashboard.njk" %}

{% block dashboard %}
  {% if isNewUser %}
    {% include "./partials/new-user-banner.njk" %}
  {% endif %}

  {% if lists.length > 0 %}
    <div class="govuk-grid-row">
      <h1 class="govuk-grid-column-one-quarter govuk-table__caption--l">Your lists</h1>
      {% if req.user.isAdministrator %}
        <div class="govuk-grid-column-three-quarters govuk-!-text-align-right govuk-!-margin-top-6">
          <a href="{{ dashboardRoutes.listsEdit.replace(':listId', 'new') }}" class="govuk-link">Create New List</a>
        </div>
      {% endif %}
    </div>

    {% include "./partials/dashboard-boxes.njk" %}

    <table class="govuk-table govuk-!-margin-top-4 dashboard-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard govuk-!-width-one-fifth">Type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard">Country</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard">Live</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard">Action needed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard govuk-!-width-one-sixth">Last review</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard govuk-!-width-one-sixth">Next review</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard">Admins</th>
          <th scope="col" class="govuk-table__header govuk-table__header--dashboard govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for list in lists %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">
                <a href="{{ dashboardRoutes.listsItems.replace(':listId', list.listId) }}" class="govuk-link">{{ _.startCase(list.type) }}</a>
            </td>
            <td class="govuk-table__cell">{{ list.country }}</td>
            <td class="govuk-table__cell">{{ list.live }}</td>
            <td class="govuk-table__cell">{{ list.actionNeeded }}</td>
            <td class="govuk-table__cell">{{ list.lastAnnualReviewStartDate.toLocaleDateString("en-GB", { day: 'numeric', month: 'short', year: 'numeric' }) if list.lastAnnualReviewStartDate else "No review"}}</td>
            <td class="govuk-table__cell">{{ list.nextAnnualReviewStartDate.toLocaleDateString("en-GB", { day: 'numeric', month: 'short', year: 'numeric' }) if list.nextAnnualReviewStartDate else "No review"}}</td>
            <td class="govuk-table__cell">{{ list.admins }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="{{ dashboardRoutes.listsEdit.replace(':listId', list.listId) }}" class="govuk-link">Settings</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
