{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% macro navMenu(title, path, req) %}
  <li>
    <a class="govuk-link {{ "govuk-link--no-underline" if req.path !== path }}" href="{{ path }}">
      {{ title }}
    </a>
  </li>
{% endmacro %}

{% macro successBanner(title = "Saved successfully") %}
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
          {{ title }}
      </h3>
    </div>
  </div>
{% endmacro %}

{% macro errorBanner(error) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="{{error.href}}">{{error.text}}</a>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro listItemActionsBart(list, listItem, dashboardRoutes, canApprove, canPublish, titleProperty) %}
  <div class="dashboard__list-item-actions-bar govuk-!-margin-top-2">
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      <div class="dashboard__item-options">
        <div class="dashboard__item-publish">
          {% if (listItem.lat == 0) and (listItem.long == 0) %}
            {{ govukWarningText({
              classes: "govuk-!-margin-bottom-2",
              iconFallbackText: "Warning",
              text: "We were unable to locate the address"
            }) }}
          {% else %}
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input dashboard__list-item-actions-bar__toggler"
                    id="approve-{{listItem.id}}"
                    name="approve"
                    type="checkbox"
                    value="approve"
                    data-title="{{ _.startCase(titleProperty) }}"
                    data-id="{{listItem.id}}"
                    {{-" checked" if listItem.isApproved }}
                    {{-" disabled" if not canApprove }}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="approve-{{listItem.id}}">
                    Confirm
                    <span class="govuk-visually-hidden">
                      that {{ _.startCase(titleProperty) }}
                    </span> details have been checked
                  </label>
                </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="publish-{{ listItem.id }}"
                      name="publish"
                      type="checkbox"
                      value="publish"
                      data-title="{{ _.startCase(titleProperty) }}"
                      data-id="{{ listItem.id }}"
                      aria-describedby="publish-{{ listItem.id }}-hint"
                      {{-" checked" if listItem.isPublished }}
                      {{-" disabled" if not canPublish or not listItem.isApproved }}
                    >
                    <label class="govuk-label govuk-checkboxes__label" for="publish-{{listItem.id}}">
                      Publish <span aria-hidden="true">these</span> <span class="govuk-visually-hidden">{{ _.startCase(titleProperty) }}</span> details
                    </label>
                  </div>
              </div>
            </fieldset>
          {% endif %}
        </div>

        <div class="dashboard__item-delete">
          {{ govukButton({
            text: "Delete application",
            classes: "govuk-button--warning govuk-!-margin-bottom-2",
            attributes: {
              id: ["delete-", listItem.id] | join,
              "data-title": _.startCase(titleProperty),
              "data-id": listItem.id
            }
          }) }}
        </div>
      </div>
    </div>
  </div>
  <script nonce="{{cspNonce}}">
    document.getElementById("approve-{{listItem.id}}").onclick = function toggleListItemApproveStatus(event) {
      event.preventDefault();
      event.stopPropagation();

      const isConfirming = event.target.checked;
      const title = event.target.getAttribute("data-title");
      const publishCheckbox = document.getElementById("publish-{{listItem.id}}");

      const confirmMessage = isConfirming ? `Do you confirm you have checked the details of ${title} and that they meet the requirements?` : `Do you want to unconfirm ${title}?`;

      if (confirm(confirmMessage)) {
        fetch("{{ dashboardRoutes.listsItemsApprove.replace(':listId', list.id).replace(':listItemId', listItem.id) }}", {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ isApproved: isConfirming })
        }).then(function (response) {
          return response.json();
        }).then(function (result) {
          if (result.error !== undefined) {
            alert("Something went wrong. Please try again.");
          } else {
            event.target.checked = result.isApproved;

            if (result.isApproved) {
              if(`{{canPublish}}` === 'true') {
                publishCheckbox.disabled = false;
              }
            } else {
              publishCheckbox.checked = false;
              publishCheckbox.disabled = true;
            }

            setTimeout(function () {
              if (isConfirming) {
                alert(`You have confirmed ${title} meets the requirements to be added to the list.`);
              } else {
                alert(`You have unconfirmed the details of ${title}.`);
              }
            });
          }
        })
        .catch(function () {
          alert("Something went wrong. Please try again.");
        });
      }
    }

    document.getElementById("publish-{{listItem.id}}").onclick = function toggleListItemPublishStatus(event) {
      event.preventDefault();
      event.stopPropagation();

      const title = event.target.getAttribute("data-title");
      const isPublishing = event.target.checked;
      const confirmMessage = isPublishing ? `Do you want to publish the details of ${title}?\n\nTheir details will be published immediately on GOV.UK.` : `Do you want to unpublish the details of ${title}?\n\nTheir details will be removed immediately from GOV.UK. `

      if (confirm(confirmMessage)) {
        fetch("{{ dashboardRoutes.listsItemsPublish.replace(':listId', list.id).replace(':listItemId', listItem.id) }}", {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ isPublished: isPublishing })
        }).then(function (response) {
          return response.json();
        }).then(function (result) {
          if (result.error !== undefined) {
            alert("Something went wrong. Please try again.");
          } else {
            event.target.checked = result.isPublished;

            setTimeout(function () {
              if(isPublishing) {
                alert(`The details of ${title} have been published on GOV.UK.\n\nIf you need to unpublish the details, untick the 'Publish these details' checkbox.`);
              } else {
                alert(`The details of ${title} have been removed from GOV.UK.\n\nIf you need to republish the details, tick the 'Publish these details' checkbox again.`);
              }
            });
          }
        })
        .catch(function () {
          alert("Something went wrong. Please try again.");
        });
      }
    }

    document.getElementById("delete-{{ listItem.id }}").onclick = function deleteListItem(event) {
      event.preventDefault();
      event.stopPropagation();

      const title = event.target.getAttribute("data-title");
      const message = `Are you sure you want to permanently delete the application of ${title}?`;

      if (confirm(message)) {
        fetch("{{ dashboardRoutes.listsItemsDelete.replace(':listId', list.id).replace(':listItemId', listItem.id) }}", {
          method: 'DELETE',
          headers: { 'Content-Type': 'application/json' },
        }).then(function (response) {
          return response.json();
        }).then(function (result) {
          if (result.error !== undefined) {
            alert("Something went wrong. Please try again.");
          } else {
            document.getElementById("item-{{ listItem.id }}").remove();

            setTimeout(function () {
              alert(`The application of ${title} has been deleted.`);
            });
          }
        })
        .catch(function () {
          alert("Something went wrong. Please try again.");
        });
      }
    }
  </script>
{% endmacro %}
