{% macro navMenu(title, path, req) %}
  <li>
    <a class="govuk-link {{ "govuk-link--no-underline" if req.path !== path }}" href="{{ path }}">
      {{ title }}
    </a>
  </li>
{% endmacro %}

{% macro successBanner(title = "Saved successfully") %}
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
          {{ title }}
      </h3>
    </div>
  </div>
{% endmacro %}


{% macro listItemActionsBart(listItem) %}
  <div class="dashboard__list-item-actions-bar">
    <button class="govuk-button" data-module="govuk-button">
      Approve
    </button>
    <button class="govuk-button" data-module="govuk-button">
      Publish
    </button>
    <button class="govuk-button govuk-button--warning" data-module="govuk-button">
      Block
    </button>
  </div>
{% endmacro %}
