{% extends "./dashboard.njk" %}
{% import "./macros.njk" as dashboardMacros %}

{% block aside %}
  <a class="govuk-link govuk-back-link" href="{{ dashboardRoutes.usersList }}">Back</a>
{% endblock %}

{% block dashboard %}
  <h1 class="govuk-heading-l">Change administrative access</h1>
  <h4 class="govuk-heading-s">{{ user.email }}</h4>

  {% if error.field %}
    {{ dashboardMacros.errorBanner(error) }}
  {% endif %}

  <form class="form" action="{{ req.originalUrl }}" method="post" required>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-form-group {{ "govuk-form-group--error" if error.field === 'roles' }}">
      <fieldset class="govuk-fieldset" aria-describedby="roles">
        <h3 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="roles">
            Select access
          </label>
        </h3>
        {% if error.field === 'roles' %}
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
          </span>
        {% endif %}
        <div class="govuk-checkboxes">
          {% for name, role in UserRoles %}
              <div class="govuk-checkboxes__item">
                <input
                  aria-describedby="roles-{{role}}-hint"
                  class="govuk-checkboxes__input"
                  id="roles-{{role}}"
                  name="roles"
                  type="checkbox"
                  value="{{ role }}"
                  {{-" checked" if _.includes(user.jsonData.roles, role) }}
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="roles-{{ role }}"
                >
                  {{ "Super admin" if role === "Administrator" else role }}
                </label>
              </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">Save</button>
  </form>
  {% if user.lists.length > 0 %}
    <div class="govuk-body">
      This user is an admin on <strong>{{user.lists.length}}</strong> {{"lists" if user.lists.length > 1 else "list"}}
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Country</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for list in user.lists %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ "Translators and Interpreters" if list.type === "translatorsInterpreters" else _.startCase(list.type) }}</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ list.country.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
