{% macro dashboardBox(options) %}
  <article class="govuk-grid-column-one-{{'third' if req.user.isAdministrator else 'half'}}">
    <div class="govuk-!-padding-3 dashboard-box dashboard-box--{{options.status}}">
      <strong class="govuk-body govuk-!-font-weight-bold">{{ options.name }}</strong>
      <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">
        {% if options.status === "error" %}
          <a href="?{{options.queryParam}}=asc" class="govuk-link--red">{{options.text}}</a>
        {% else %}
          {{options.text}}
        {% endif %}
      </p>
    </div>
  </article>
{% endmacro %}

<div class="govuk-grid-row govuk-!-margin-top-2">
  {% if dashboardBoxes.administrators and req.user.isAdministrator %}
    {{ dashboardBox(dashboardBoxes.administrators) }}
  {% endif %}
  {% if dashboardBoxes.serviceProviders %}
    {{ dashboardBox(dashboardBoxes.serviceProviders) }}
  {% endif %}
  {% if dashboardBoxes.reviews %}
    {{ dashboardBox(dashboardBoxes.reviews) }}
  {% endif %}
</div>
