{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "notification-banner/macro.njk" import govukNotificationBanner %}

{% set status %}
  {{ listItem.status | replace('_', ' ') }}
{% endset %}

<div class="govuk-!-margin-bottom-4 govuk-!-margin-top-2">
  <p class="govuk-caption-m govuk-!-text-align-right govuk-!-margin-bottom-0">
    Submitted: {{ listItem.createdAt | date }}
  </p>

  <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" form="pinForm"/>

  {% if isPinned %}
    <input type="hidden" name="action" value="unpin" form="pinForm"/>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4 grey-border-bottom">
      {{ _.startCase(_.toLower(details.headerField)) }}
      <input type="image" src="/assets/images/unpin.png" width="24px" height="24px" form="pinForm"/>
    </h2>
  {% else %}
    <input type="hidden" name="action" value="pin" form="pinForm"/>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4 grey-border-bottom">
      {{ _.startCase(_.toLower(details.headerField)) }}
      <input type="image" src="/assets/images/pin.png" width="24px" height="24px" form="pinForm"/>
    </h2>

  {% endif %}
</div>

{% import "./macros.njk" as rowMacros %}
{% for detail, item in details %}
  {% if item.title %}
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">{{ item.title }}</h3>
  {% endif %}
  {% set rows = item.rows | renderRowValues(rowMacros, item.rows) %}
  {{ govukSummaryList({
    rows: rows
  }) }}
{% endfor %}


{% if requestedChanges %}
  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Changes requested to provider</h3>
  <div class="govuk-!-margin-bottom-4 govuk-!-margin-top-2">
    <p class="govuk-body">{{ requestedChanges | striptags(true) | escape | nl2br }}</p>
  </div>
{% endif %}
