{% set colours = {
  live: 'green',
  'new': 'grey',
  'unpublished': 'red',
  'archived': 'grey'
  }
%}

{% set publishingStatus = listItem.publishingStatus %}
{% set class = 'govuk-tag--' + colours[publishingStatus] %}
<strong class="govuk-tag dashboard__list-item-tag {{ class }}">
  {{ publishingStatus }}
</strong>
