{% set dictionary = {
  NEW: "New"
} %}

<li class="dashboard__list-item" id="item-{{ listItem.id }}">
  <span class="govuk-caption-m">
    <span class="govuk-visually-hidden">Organisation name:</span>
    {{ listItem.organisationName }}
  </span>
  <h2 class="govuk-heading-m">
    {{ listItem.contactName }}
  </h2>
  <div class="dashboard__list-item-tag-container">
    {% for tag in listItem.tags %}
      {% include "./list-item-tag.njk" %}
    {% endfor %}
  </div>

  <div class="dashboard__list-item-body">
    <p>
      <span class="govuk-!-font-weight-bold">Status:</span>
      {{ dictionary[listItem.status] }}
    </p>
    <div class="dashboard__list-item-dates">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Created</span>
        {{ listItem.createdAt }}
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Updated</span>
        {{ listItem.updatedAt }}
      </p>
    </div>
    <a class="govuk-button govuk-button--secondary" href="items/{{ listItem.id }}">Review</a>
  </div>
</li>
