{% set dictionary = {
  NEW: "New",
  OUT_WITH_PROVIDER: "out with provider",
  EDITED: "Edited",
  ANNUAL_REVIEW: "Annual review",
  REVIEW_OVERDUE: "Review overdue",
  REVIEWED: "Reviewed",
  PUBLISHED: "Published",
  UNPUBLISHED: "Unpublished"
  }
%}

<li class="dashboard__list-item" id="item-{{ listItem.id }}">
  <div class="dashboard__list-item-title">
    <form class="form"
          action="{{ dashboardRoutes.listsItemPin.replace(':listId', list.id).replace(':listItemId', listItem.id) }}"
          method="post">
      {% set isPinned = listItem in list['pinnedItems'] %}
      {% set action = "unpin" if isPinned else "pin" %}
      {% set fillStatus = "filled" if isPinned else "unfilled" %}
      <span class="govuk-caption-m dashboard__list-item-caption">
        <span class="govuk-visually-hidden">Organisation name:</span>
        <span data-testid="organisation-name-{{ listItem.contactName }}">{{ listItem.organisationName }}</span>
        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
        <button class="dashboard__list-item-pin" name="action" value="{{ action }}" data-testid="{{ action }}-{{ listItem.contactName }}">
          <label class="govuk-visually-hidden">{{ action }} {{ listItem.organisationName }}</label>
          <img class="dashboard__list-item-icon" src="/assets/images/{{ action }}.png" alt="{{ fillStatus }} star" width="24px" height="24px">
        </button>
      </span>

    </form>

    <h2 class="govuk-heading-m">
      {{ listItem.contactName }}
    </h2>
  </div>

  <div class="dashboard__list-item-body">
    <div>
      {% for tag in listItem.publishingStatus %}
        <strong class="govuk-tag dashboard__list-item-tag {{ tag.class }}">
          {{ tag.name }}
        </strong>
      {% endfor %}
      <div class="dashboard__list-item-tag-container">
        {% for tag in listItem.activityStatus %}
          <strong class="govuk-tag dashboard__list-item-tag {{ tag.class }}">
            {{ tag.name }}
          </strong>
        {% endfor %}
      </div>
    </div>
    <p>
      <span class="govuk-!-font-weight-bold">Last updated</span>
      {{ listItem.updatedAt }}
    </p>
    <p>
      <span class="govuk-!-font-weight-bold">Last published</span>
      {{ listItem.lastPublished }}
    </p>
    <a class="govuk-button govuk-button--secondary" href="items/{{ listItem.id }}">View</a>
  </div>
</li>
