{% set colours = {
  'no_action_needed': 'green',
  'to_do': 'blue',
  'out_with_provider': 'yellow'
  }
%}

{% set text = listItem.activityStatus.text %}
{% set type = listItem.activityStatus.type %}

{% set class = 'govuk-tag--' + colours[type] %}

<strong class="govuk-tag dashboard__list-item-tag {{ class }}">
  {{- text -}}
</strong>
