{% set dictionary = {
  NEW: "New",
  OUT_WITH_PROVIDER: "Out with provider",
  EDITED: "Edited",
  ANNUAL_REVIEW: "Annual review",
  REVIEW_OVERDUE: "Review overdue",
  REVIEWED: "Reviewed",
  PUBLISHED: "Published",
  UNPUBLISHED: "Unpublished"
  }
%}

<li class="dashboard__list-item" id="item-{{ listItem.id }}">
  <div class="dashboard__list-item-title">
    <form class="form"
          action="{{ dashboardRoutes.listsItemPin.replace(':listId', list.id).replace(':listItemId', listItem.id) }}"
          method="post" required>

    {% if listItem in list['pinnedItems'] %}
      <span class="govuk-caption-m">
        <span class="govuk-visually-hidden">Organisation name:</span>
        {{ listItem.organisationName }}
        <span class="govuk-!-margin-right-2">
          <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="action" value="unpin" />
          <input type="image" src="/assets/images/unpin.png" width="24px" height="24px" />
        </span>
      </span>
    {% else %}
      <span class="govuk-caption-m">
        <span class="govuk-visually-hidden">Organisation name:</span>
        {{ listItem.organisationName }}
        <span class="govuk-!-margin-right-2">
          <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="action" value="pin" />
          <input type="image" src="/assets/images/pin.png" width="24px" height="24px" />
        </span>
      </span>
    {% endif %}
    </form>

    <h2 class="govuk-heading-m">
      {{ listItem.contactName }}
    </h2>
  </div>
  <div class="dashboard__list-item-tag-container">
    {% for tag in listItem.tags %}
      {% include "./list-item-tag.njk" %}
    {% endfor %}
  </div>
  <div class="dashboard__list-item-body">
    <p>
      <span class="govuk-!-font-weight-bold">Status:</span>
      {{ dictionary[listItem.status] }}
    </p>
    <div class="dashboard__list-item-dates">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Created</span>
        {{ listItem.createdAt }}
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Updated</span>
        {{ listItem.updatedAt }}
      </p>
    </div>
    <a class="govuk-button govuk-button--secondary" href="items/{{ listItem.id }}">Review</a>
  </div>
</li>
