{% set dictionary = {
  NEW: "Check new entry",
  OUT_WITH_PROVIDER: "with provider",
  EDITED: "Edits requested",
  ANNUAL_REVIEW: "Out for annual review",
  REVIEW_OVERDUE: "Review overdue",
  REVIEWED: "Reviewed",
  PUBLISHED: "Published",
  UNPUBLISHED: "Unpublished"
  }
%}

<li class="dashboard__list-item" id="item-{{ listItem.id }}">
  <div class="dashboard__list-item-title">
    <form class="form"
          action="{{ dashboardRoutes.listsItemPin.replace(':listId', list.id).replace(':listItemId', listItem.id) }}"
          method="post">
      {% set action = "unpin" if isPinned else "pin" %}
      {% set fillStatus = "filled" if isPinned else "unfilled" %}
      <span class="govuk-caption-m dashboard__list-item-caption">
        <span class="govuk-visually-hidden">Organisation name:</span>
        <span data-testid="organisation-name-{{ listItem.contactName }}">{{ listItem.organisationName }}</span>
        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}" />
        <button class="dashboard__list-item-pin" name="action" value="{{ action }}" data-testid="{{ action }}-{{ listItem.contactName }}">
          <label class="govuk-visually-hidden">{{ action }} {{ listItem.organisationName }}</label>
          <img class="dashboard__list-item-icon" src="/assets/images/{{ action }}.png" alt="{{ fillStatus }} star" width="24px" height="24px">
        </button>
      </span>

    </form>

    <h2 class="govuk-heading-m">
      {{ listItem.contactName }}
    </h2>
  </div>
  <div class="dashboard__list-item-tag-container">
      {% include "./list-item-tag.njk" %}
  </div>
  <div class="dashboard__list-item-body">
    <p>
      {% include "./list-item-activity-status-tag.njk" %}
    </p>
    <div class="dashboard__list-item-dates">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Created</span>
        {{ listItem.createdAt }}
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Updated</span>
        {{ listItem.updatedAt }}
      </p>
    </div>
    <a class="govuk-button govuk-button--secondary" href="items/{{ listItem.id }}">Review</a>
  </div>
</li>
