{% macro emailAddress(address, label) %}
  <a class="govuk-link" href="mailto:{{address}}">{{ label }}</a>
{% endmacro %}

{% macro externalLink(href, label) %}
  <a class="govuk-link" href="{{href}}" target="_blank" rel="noopener noreferrer">{{label}}</a>
{% endmacro %}

{% macro phoneNumber(number, label) %}
  <a class="govuk-link" href="tel:{{number}}">{{ label }}</a>
{% endmacro %}

{% macro multiLineText(content) %}
  <div class="dashboard__multi-line-text">{{ content }}</div>
{% endmacro %}

{% macro value(rows) %}
  {% for row in rows %}
    {% set valueMacro = row.value.type %}


  {% endfor %}

{% endmacro %}
