{% extends 'layout.njk' %}

{% block pageTitle %}
  Find a professional service abroad – Session timed out
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Sorry, you'll have to start again</h1>

    <p class="govuk-body">
      We've cleared your information to keep it secure. This usually happens if you have not been active for a while.
    </p>

    <p class="govuk-body">
      You will need to <a href="https://www.gov.uk/guidance/professional-services-if-you-are-abroad" class="govuk-link">start again</a> if you want to continue using this service.
    </p>

  </div>
</div>
{% endblock %}
