{% extends "./../question-page.njk" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ SERVICE_NAME }} - Apply to be added to the 'Find a funeral director abroad' service
{% endblock %}

{% block heading %}
  <h1 class="govuk-heading-l">
    Apply to be added to the 'Find a funeral director abroad' service
  </h1>
{% endblock %}

{% block answers %}
{% endblock %}

{% block question %}

  <p class="govuk-body">
    Funeral directors based outside the UK can apply online to be added to the Foreign, Commonwealth & Development Office (FCDO) 'Find an English-speaking funeral director abroad' service.
  </p>
  <p class="govuk-body">
    This service provides lists of English-speaking funeral directors which are searchable by country and region to help British nationals find the support that best suits their needs.
  </p>
  <p class="govuk-body">
    To be eligible to be added to a list you need to be:
  </p>

  <ul class="govuk-body govuk-list govuk-list--bullet">
    <li>based in the country you provide funeral services in</li>
    <li>qualified to provide funeral services, and are registered with the local authorities to provide funeral services (if applicable in your country)</li>
  </ul>

  <p class="govuk-body">
    You also need to be able to provide:
  </p>

  <ul class="govuk-body govuk-list govuk-list--bullet">
    <li>funeral services and support to customers in English</li>
    <li>reliable contact details, including an email address</li>
  </ul>

  {{ govukWarningText({
    text: "You must have access to the email address you provide. You will be sent a link that you must use to complete your application.",
    iconFallbackText: "Warning"
  }) }}

  <h3 class="govuk-body govuk-!-font-weight-bold">Feedback on this service</h3>
  <p class="govuk-body">
    We welcome your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/Find-a-Professional/" target="_blank">feedback</a> to help us improve this service.
  </p>

  <h3 class="govuk-body govuk-!-font-weight-bold">Contact us</h3>
  <p class="govuk-body">
    You can <a class="govuk-link" href="/application/provider-contact/" target="_blank">contact us</a> to change or remove your details, or make a complaint if you are a funeral director in this service.
  </p>


  {{ govukButton({
    text: "Start now",
    href: nextPageUrl,
    isStartButton: true,
    element: "a"
  }) }}



{% endblock %}
